# DAV exploratory data analysis - States per year

In [1]:
# import pandas, numpy, json
import numpy as np
import pandas as pd
import json
import csv

In [2]:
# Importing bokeh 
from bokeh.plotting import figure
from bokeh.io import output_file, show, save
from bokeh.models import ColumnDataSource, FactorRange, Range1d
from bokeh.models import PanTool, ResetTool, WheelZoomTool, HoverTool, LassoSelectTool, BoxSelectTool

# alleen deze voor googlemaps
from bokeh.models import ColumnDataSource, GMapOptions
from bokeh.plotting import gmap

In [3]:
# load json
df = pd.read_json("dataset.json", lines=True)
df

,address,city_or_county,congressional_district,date,gun_stolen,gun_type,incident_characteristics,incident_id,latitude,location_description,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,state,state_house_district,state_senate_district
0,1506 Versailles Avenue and Coursin Street,Mckeesport,14.0,2013-01-01,NaN,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,461105,40.3467,NaN,...,{'0': '20'},"{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Male', '1': 'Male', '3': 'Male', '4': '...",{'0': 'Julian Sims'},NaN,"{'0': 'Arrested', '1': 'Injured', '2': 'Injure...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Pennsylvania,NaN,NaN
1,13500 block of Cerise Avenue,Hawthorne,43.0,2013-01-01,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",460726,33.9090,NaN,...,{'0': '20'},"{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...",{'0': 'Male'},{'0': 'Bernard Gillis'},NaN,"{'0': 'Killed', '1': 'Injured', '2': 'Injured'...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",California,62.0,35.0
2,1776 East 28th Street,Lorain,9.0,2013-01-01,"{'0': 'Unknown', '1': 'Unknown'}","{'0': 'Unknown', '1': 'Unknown'}","Shot - Wounded/Injured||Shot - Dead (murder, a...",478855,41.4455,Cotton Club,...,"{'0': '25', '1': '31', '2': '33', '3': '34', '...","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...","{'0': 'Damien Bell', '1': 'Desmen Noble', '2':...",NaN,"{'0': 'Injured, Unharmed, Arrested', '1': 'Unh...","{'0': 'Subject-Suspect', '1': 'Subject-Suspect...",Ohio,56.0,13.0
3,16000 block of East Ithaca Place,Aurora,6.0,2013-01-05,NaN,NaN,"Shot - Dead (murder, accidental, suicide)||Off...",478925,39.6518,NaN,...,"{'0': '29', '1': '33', '2': '56', '3': '33'}","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Female', '1': 'Male', '2': 'Male', '3':...","{'0': 'Stacie Philbrook', '1': 'Christopher Ra...",NaN,"{'0': 'Killed', '1': 'Killed', '2': 'Killed', ...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Colorado,40.0,28.0
4,307 Mourning Dove Terrace,Greensboro,6.0,2013-01-07,"{'0': 'Unknown', '1': 'Unknown'}","{'0': 'Handgun', '1': 'Handgun'}","Shot - Wounded/Injured||Shot - Dead (murder, a...",478959,36.1140,NaN,...,"{'0': '18', '1': '46', '2': '14', '3': '47'}","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Tee...","{'0': 'Female', '1': 'Male', '2': 'Male', '3':...","{'0': 'Danielle Imani Jameison', '1': 'Maurice...",{'3': 'Family'},"{'0': 'Injured', '1': 'Injured', '2': 'Killed'...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",North Carolina,62.0,27.0
5,6000 block of South Owasso,Tulsa,1.0,2013-01-07,NaN,NaN,"Shot - Dead (murder, accidental, suicide)||Hom...",478948,36.2405,Fairmont Terrace,...,"{'0': '23', '1': '23', '2': '33', '3': '55'}","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Female', '1': 'Female', '2': 'Female', ...","{'0': 'Rebeika Powell', '1': 'Kayetie Melchor'...",NaN,"{'0': 'Killed', '1': 'Killed', '2': 'Killed', ...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Oklahoma,72.0,11.0
6,2806 Long Lane,Albuquerque,1.0,2013-01-19,"{'0': 'Unknown', '1': 'Unknown'}","{'0': '22 LR', '1': '223 Rem [AR-15]'}","Shot - Dead (murder, accidental, suicide)||Mas...",479363,34.9791,NaN,...,"{'0': '51', '1': '40', '2': '9', '3': '5', '4'...","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Chi...","{'0': 'Male', '1': 'Female', '2': 'Male', '3':...","{'0': 'Greg Griego', '1': 'Sara Griego', '2': ...",{'5': 'Family'},"{'0': 'Killed', '1': 'Killed', '2': 'Killed', ...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",New Mexico,10.0,14.0
7,LaSalle Street and Martin Luther King Jr. Boul...,New Orleans,2.0,2013-01-21,NaN,NaN,Shot - Wounded/Injured||Drive-by (car to stree...,479374,29.9435,NaN,...,NaN,NaN,"{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...",NaN,NaN,"{'0': 'Injured', '1': 'Injured', '2': 'Injured...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Louisiana,93.0,5.0
8,1100 block of Breton Drive,Brentwood,9.0,2013-01-21,NaN,NaN,Shot - Wounded/Injured||Drive-by (car to stree...,479389,37.9656,NaN,...,NaN,"{'0': 'Teen 12-17', '1': 'Teen 12-17', '2': 'T...","{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...",NaN,NaN,"{'0': 'Injured', '1': 'Injured', '2': 'Injured...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",California,11.0,7.0
9,1500 block of W. Fayette St.,Baltimore,7.0,2013-01-23,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",492151,39.2899,NaN,...,{'0': '15'},"{'0': 'Teen 12-17', '1': 'Adult 18+', '2': 'Ad...",{'0': 'Male'},{'0': 'Deshaun Jones'},NaN,"{'0': 'Killed', '1': 'Injured', '2': 'Injured'...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Maryland,NaN,44.0
10,1501 Dodds Ave,Chattanooga,3.0,2013-01-23,{'0': 'Unknown'},{'0': 'Unknown'},"Shot - Wounded/Injured||Shot - Dead (murder, a...",491674,35.0221,NaN,...,{'0': '19'},{'0': 'Adult 18+'},"{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...",{'0': 'Demetrius Davis'},NaN,"{'0': 'Killed', '1': 'Injured', '2': 'Injured'...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Tennessee,28.0,10.0
11,W Florissant Ave and Riverview Blvd,Saint Louis,1.0,2013-01-25,{'0': 'Unknown'},{'0': 'Unknown'},"Shot - Wounded/Injured||Shot - Dead (murder, a...",479413,38.7067,NaN,...,{'0': '28'},{'0': 'Adult 18+'},{'0': 'Male'},{'0': 'Terry Robinson Jr.'},NaN,"{'0': 'Killed', '1': 'Injured', '2': 'Injured'...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Missouri,76.0,4.0
12,1000 block of Flat Town Road,Charenton,3.0,2013-01-26,{'0': 'Unknown'},{'0': 'Shotgun'},"Shot - Wounded/Injured||Shot - Dead (murder, a...",479561,29.8816,NaN,...,"{'3': '78', '4': '48'}","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...","{'0': 'Ofc.', '1': 'Dep.', '2': 'Dep.', '3': '...",NaN,"{'0': 'Killed', '1': 'Injured', '2': 'Injured'...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Louisiana,50.0,21.0
13,2403 Benning Road Northeast,Washington,1.0,2013-01-26,{'0': 'Unknown'},{'0': 'Handgun'},Shot - Wounded/Injured||Mass Shooting (4+ vict...,479554,38.8978,NaN,...,NaN,"{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Female', '1': 'Female', '2': 'Male', '3...",NaN,NaN,"{'0': 'Injured', '1': 'Injured', '2': 'Injured...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",District of Columbia,NaN,NaN
14,601 West Main Street,Springfield,8.0,2013-01-26,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",479460,39.9252,Nite Owl Tavern,...,"{'0': '34', '1': '28', '2': '23', '3': '29', '...","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...","{'0': 'Ernest Edwards', '1': 'Anthony Clark', ...",NaN,"{'0': 'Killed', '1': 'Injured', '2': 'Injured'...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Ohio,79.0,10.0
15,2514 Mount Moriah,Memphis,9.0,2013-02-02,{'0': 'Unknown'},{'0': 'Handgun'},Shot - Wounded/Injured||Mass Shooting (4+ vict...,479573,35.0803,Club Venue,...,{'5': '24'},"{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Female', '1': 'Female', '2': 'Female', ...","{'4': 'Mary', '5': 'Sundra Payne'}",NaN,"{'0': 'Injured', '1': 'Injured', '2': 'Injured...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Tennessee,84.0,33.0
16,5800 block of Poplar Avenue,Yuba (county),3.0,2013-02-03,{'0': 'Unknown'},{'0': '9mm'},"Shot - Wounded/Injured||Shot - Dead (murder, a...",479580,39.1236,NaN,...,"{'0': '20', '4': '25', '5': '18', '6': '19'}","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Male', '1': 'Male', '2': 'Female', '4':...","{'0': 'Teng Yang', '1': 'Tou Yang', '2': 'Xong...","{'4': 'Drive by - Random victims', '5': 'Drive...","{'0': 'Killed', '1': 'Injured', '2': 'Injured'...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",California,3.0,4.0
17,2500 block of East 75th Street,Chicago,2.0,2013-02-07,NaN,NaN,Shot - Wounded/Injured||Drive-by (car to stree...,479592,41.7592,NaN,...,"{'0': '18', '1': '41', '2': '28', '3': '28'}","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...",NaN,NaN,"{'0': 'Injured', '1': 'Injured', '2': 'Injured...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Illinois,25.0,13.0
18,400 block of Bourbon Street,New Orleans,2.0,2013-02-09,{'0': 'Unknown'},{'0': 'Handgun'},Shot - Wounded/Injured||Mass Shooting (4+ vict...,479603,29.9563,NaN,...,"{'0': '18', '1': '22', '2': '21', '3': '29', '...","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Male', '1': 'Female', '2': 'Female', '3...","{'4': 'Malcolm ""London"" Hall', '5': 'Brandon B...",NaN,"{'0': 'Injured', '1': 'Injured', '2': 'Injured...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Louisiana,93.0,4.0
19,800 block of Humboldt Street,Vallejo,5.0,2013-02-11,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",480311,38.1072,NaN,...,{'0': '22'},"{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...",{'0': 'Oscar Garcia'},NaN,"{'0': 'Killed', '1': 'Injured', '2': 'Injured'...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",California,14.0,3.0
20,500 North King Street,Wilmington,1.0,2013-02-11,{'0': 'Unknown'},{'0': '45 Auto'},"Shot - Wounded/Injured||Shot - Dead (murder, a...",480327,39.7407,New Castle County courthouse,...,"{'1': '39', '4': '68'}","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Female', '1': 'Female', '2': 'Male', '3...","{'0': 'Laura Elizabeth ""Beth"" Mulford', '1': '...",NaN,"{'0': 'Killed', '1': 'Killed', '2': 'Injured',...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Delaware,2.0,3.0
21,8286 Adams Street and 450 West Street,Midvale,4.0,2013-02-12,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",480344,40.6008,NaN,...,"{'0': '35', '1': '34', '2': '26', '4': '25'}","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...","{'0': 'Omar Paul Jarman', '1': 'Shontay N. You...",NaN,"{'0': 'Killed', '1': 'Killed', '2': 'Killed', ...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Utah,44.0,8.0
22,Katella Avenue,Orange (county),46.0,2013-02-19,{'0': 'Unknown'},{'0': '12 gauge'},"Shot - Wounded/Injured||Shot - Dead (murder, a...",480358,33.8031,NaN,...,"{'0': '20', '4': '69', '5': '27', '6': '20'}","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Female', '4': 'Male', '5': 'Male', '6':...","{'0': 'Courtney Aoki', '4': 'Melvin Edwards', ...",NaN,"{'0': 'Killed', '1': 'Injured', '2': 'Injured'...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",California,72.0,34.0
23,1200 block of North 89th East Avenue,Tulsa,1.0,2013-02-21,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",480383,36.1722,Spartan Landing apartments,...,"{'0': '18', '1': '18', '2': '18', '3': '19', '...","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...","{'0': 'Chaz Fain', '4': 'Mark Hopkins'}",NaN,"{'0': 'Killed', '1': 'Injured', '2': 'Injured'...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Oklahoma,77.0,34.0
24,1447 Grandville Ave. SW,Grand Rapids,3.0,2013-02-22,NaN,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,480401,42.9371,New Roosevelt Bar,...,NaN,"{'0': 'Adult 18+', '1': 'Adult 18+'}","{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...",{'0': 'Marcus Antoine Smith'},NaN,"{'0': 'Unharmed, Arrested', '1': 'Injured', '2...","{'0': 'Subject-Suspect', '1': 'Victim', '2': '...",Michigan,76.0,29.0
25,43145 Business Center Parkway,Lancaster,25.0,2013-02-23,NaN,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,480407,34.6666,Industry Theater,...,"{'0': '22', '1': '26', '2': '29', '3': '37'}","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...",NaN,NaN,"{'0': 'Injured', '1': 'Injured', '2': 'Injured...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",California,36.0,21.0
26,2800 block of Mercer University Drive,Macon,2.0,2013-02-24,NaN,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,480443,32.8260,NaN,...,{'8': '29'},"{'0': 'Adult 18+', '2': 'Adult 18+', '3': 'Adu...","{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...","{'8': 'Frank Fletcher, Jr.'}",NaN,"{'0': 'Injured', '1': 'Injured', '2': 'Injured...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Georgia,142.0,26.0
27,7000 block of Burlingame Boulevard,Shreveport,4.0,2013-03-02,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",481186,32.4420,NaN,...,"{'0': '18', '1': '18', '2': '18', '3': '19', '...","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...","{'0': 'Chauncey ""Trey"" Boulevard, Jr.', '1': '...",NaN,"{'0': 'Killed', '1': 'Injured', '2': 'Injured'...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Louisiana,3.0,39.0
28,224 Second Street Northwest,Moultrie,8.0,2013-03-03,{'0': 'Unknown'},{'0': '7.62 [AK-47]'},"Shot - Wounded/Injured||Shot - Dead (murder, a...",481198,31.1824,NaN,...,"{'0': '50', '1': '42', '4': '24', '5': '25'}","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Male', '1': 'Male', '2': 'Female', '3':...","{'0': 'James L. Key', '1': 'Eric Debruce', '2'...",NaN,"{'0': 'Killed', '1': 'Killed', '2': 'Injured',...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Georgia,172.0,11.0
29,4030 Dixie Hwy,Saginaw (county),5.0,2013-03-03,NaN,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,481208,43.3944,Better Dayz Bar and Grill,...,"{'0': '23', '1': '34', '2': '17', '3': '25'}","{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Tee...","{'0': 'Male', '1': 'Male', '2': 'Female', '3':...",{'1': 'Edgar G. Jones'},NaN,"{'0': 'Injured', '1': 'Injured', '2': 'Injured...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",Michigan,95.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239646,400 block of Hamilton Ave,Duquesne,14.0,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},"Shot - Dead (murder, accidental, suicide)||Sui...",1082455,40.3740,NaN,...,{'0': '16'},{'0': 'Teen 12-17'},{'0': 'Male'},NaN,NaN,{'0': 'Killed'},{'0': 'Victim'},Pennsylvania,35.0,45.0
239647,Ohio St,Bangor,NaN,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},Shots Fired - No Injuries||Domestic Violence,1081936,NaN,NaN,...,{'0': '20'},{'0': 'Adult 18+'},{'0': 'Male'},{'0': 'Garrett Field'},NaN,"{'0': 'Unharmed, Arrested'}",{'0': 'Subject-Suspect'},Maine,NaN,NaN
239648,600 block of Alabama Ave SE,Washington,NaN,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},Shots Fired - No Injuries,1081946,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District of Columbia,NaN,NaN
239649,Bonanza Rd and Valley View Blvd,Las Vegas,NaN,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},Shots Fired - No Injuries||Home Invasion||Home...,1081949,NaN,NaN,...,NaN,{'0': 'Adult 18+'},{'0': 'Male'},NaN,NaN,"{'0': 'Unharmed, Arrested'}",{'0': 'Subject-Suspect'},Nevada,NaN,NaN
239650,37900 block of 47th St E,Palmdale,25.0,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},"Shot - Dead (murder, accidental, suicide)",1082266,34.5713,NaN,...,{'0': '35'},"{'0': 'Adult 18+', '1': 'Adult 18+'}","{'0': 'Male', '1': 'Male'}",{'0': 'Israel Castaneda'},NaN,"{'0': 'Killed', '1': 'Unharmed'}","{'0': 'Victim', '1': 'Subject-Suspect'}",California,36.0,21.0
239651,2300 block of 8th St,Wichita Falls,13.0,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},Shot - Wounded/Injured||Defensive Use||Defensi...,1082483,33.9052,NaN,...,NaN,"{'0': 'Adult 18+', '1': 'Adult 18+'}","{'0': 'Male', '1': 'Male'}",NaN,NaN,"{'0': 'Unharmed', '1': 'Injured'}","{'0': 'Victim', '1': 'Subject-Suspect'}",Texas,69.0,30.0
239652,1200 block of Whispering Trail,Dallas,30.0,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},Shot - Wounded/Injured||Home Invasion||Home In...,1082486,32.6772,NaN,...,NaN,"{'0': 'Adult 18+', '1': 'Adult 18+'}",{'1': 'Male'},NaN,NaN,"{'0': 'Unharmed', '1': 'Injured'}","{'0': 'Victim', '1': 'Subject-Suspect'}",Texas,109.0,23.0
239653,1400 E Peckham Ln,Reno,2.0,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},"Shot - Dead (murder, accidental, suicide)||Ins...",1083121,39.4832,Peckham Plaza Mini Mart,...,{'0': '21'},{'0': 'Adult 18+'},{'0': 'Male'},{'0': 'Nicholas Sedano'},NaN,{'0': 'Killed'},{'0': 'Subject-Suspect'},Nevada,26.0,16.0
239654,Wedekind Rd,Reno,2.0,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},"Shot - Dead (murder, accidental, suicide)||Sui...",1081947,39.5537,NaN,...,{'0': '28'},{'0': 'Adult 18+'},{'0': 'Male'},{'0': 'Julio Ramos Rubalcaba'},NaN,{'0': 'Killed'},{'0': 'Victim'},Nevada,30.0,13.0
239655,8660 Miramar Rd,San Diego,52.0,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},Institution/Group/Business||Shots Fired - No I...,1082089,32.8936,Goldfingers Gentlemen's Club,...,NaN,{'0': 'Adult 18+'},{'0': 'Male'},NaN,NaN,{'0': 'Unharmed'},{'0': 'Subject-Suspect'},California,77.0,39.0
239656,100 block of Warren Ave,Rochester,25.0,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},"Shot - Dead (murder, accidental, suicide)||Sui...",1081901,43.1076,NaN,...,NaN,NaN,{'0': 'Female'},NaN,NaN,{'0': 'Killed'},{'0': 'Victim'},New York,136.0,56.0
239657,300 block of Atlantic Ave,Shafter,21.0,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},Shots Fired - No Injuries||Officer Involved In...,1082394,35.5019,NaN,...,{'0': '55'},{'0': 'Adult 18+'},{'0': 'Male'},{'0': 'John Wells'},NaN,{'0': 'Arrested'},{'0': 'Subject-Suspect'},California,32.0,14.0
239658,1700 block of 23rd Ave,Oakland,NaN,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},"Shot - Dead (murder, accidental, suicide)",1082392,NaN,NaN,...,{'0': '29'},{'0': 'Adult 18+'},{'0': 'Male'},NaN,NaN,{'0': 'Killed'},{'0': 'Victim'},California,NaN,NaN
239659,South Kirkman Road and Raleigh Street,Orlando,10.0,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},Shot - Wounded/Injured,1082057,28.5279,NaN,...,NaN,"{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...",NaN,NaN,NaN,"{'0': 'Injured', '1': 'Injured', '2': 'Injured'}","{'0': 'Victim', '1': 'Victim', '2': 'Victim'}",Florida,46.0,11.0
239660,1700 block of Harbor St,Stockton,9.0,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},"Shot - Dead (murder, accidental, suicide)",1082091,37.9478,NaN,...,"{'0': '20', '1': '22'}","{'0': 'Adult 18+', '1': 'Adult 18+'}","{'0': 'Male', '1': 'Male'}","{'0': 'Richard ""Richie"" Gonzalez', '1': 'Franc...",NaN,"{'0': 'Killed', '1': 'Killed'}","{'0': 'Victim', '1': 'Victim'}",California,13.0,5.0
239661,US 74,Kings Mountain,NaN,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},Shot - Wounded/Injured||Drive-by (car to stree...,1081719,NaN,NaN,...,NaN,"{'0': 'Adult 18+', '1': 'Adult 18+', '2': 'Adu...","{'0': 'Male', '1': 'Male', '2': 'Male', '3': '...",NaN,NaN,"{'0': 'Injured', '1': 'Injured', '2': 'Injured...","{'0': 'Victim', '1': 'Victim', '2': 'Victim', ...",North Carolina,NaN,NaN
239662,1000 block of York Ave,Saint Paul,NaN,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},Shot - Wounded/Injured||Drive-by (car to stree...,1082388,44.9685,NaN,...,"{'0': '18', '1': '22'}","{'0': 'Adult 18+', '1': 'Adult 18+'}","{'0': 'Male', '1': 'Male'}",NaN,NaN,"{'0': 'Injured', '1': 'Injured'}","{'0': 'Victim', '1': 'Victim'}",Minnesota,NaN,NaN
239663,500 block of Walnut St,Guthrie,3.0,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},"Shot - Dead (murder, accidental, suicide)||Off...",1082197,35.8739,NaN,...,{'0': '27'},{'0': 'Adult 18+'},{'0': 'Male'},{'0': 'Jason Birt'},NaN,{'0': 'Killed'},{'0': 'Subject-Suspect'},Oklahoma,31.0,20.0
239664,4200 block of Hillsboro Hematite Rd,Festus,8.0,2018-03-31,{'0': 'Unknown'},{'0': 'Unknown'},Shot - Wounded/Injured,1082023,38.2074,NaN,...,"{'0': '63', '1': '22'}","{'0': 'Adult 18+', '1': 'Adult 18+'}","{'0': 'Female', '1': 'Male'}",{'1': 'Garrett Noll'},NaN,"{'0': 'Injured', '1': 'Unharmed, Arrested'}","{'0': 'Victim', '1': 'Subject-Suspect'}",Missouri,114.0,3.0

In [4]:
###
# read participants json
###
df_p = pd.read_json("dataset_incidents.json", lines=True)
print('done')

# fill empty values with 'nan'
df_p = df_p.replace(np.nan, 'NaN', regex=True)
df_p

done

,incident_id,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type
0,461105,20,Adult 18+,Male,Julian Sims,NaN,Arrested,Victim
1,461105,NaN,Adult 18+,Male,NaN,NaN,Injured,Victim
2,461105,NaN,Adult 18+,Male,NaN,NaN,Injured,Victim
3,461105,NaN,Adult 18+,Female,NaN,NaN,Injured,Victim
4,461105,NaN,Adult 18+,NaN,NaN,NaN,Injured,Subject-Suspect
5,460726,20,Adult 18+,Male,Bernard Gillis,NaN,Killed,Victim
6,460726,NaN,Adult 18+,NaN,NaN,NaN,Injured,Victim
7,460726,NaN,Adult 18+,NaN,NaN,NaN,Injured,Victim
8,460726,NaN,Adult 18+,NaN,NaN,NaN,Injured,Victim
9,460726,NaN,NaN,NaN,NaN,NaN,NaN,Subject-Suspect
10,478855,25,Adult 18+,Male,Damien Bell,NaN,"Injured, Unharmed, Arrested",Subject-Suspect
11,478855,31,Adult 18+,Male,Desmen Noble,NaN,"Unharmed, Arrested",Subject-Suspect
12,478855,33,Adult 18+,Male,Herman Seagers,NaN,Killed,Victim
13,478855,34,Adult 18+,Male,Ladd Tate Sr,NaN,Injured,Victim
14,478855,33,Adult 18+,Male,Tallis Moore,NaN,Injured,Victim
15,478925,29,Adult 18+,Female,Stacie Philbrook,NaN,Killed,Victim
16,478925,33,Adult 18+,Male,Christopher Ratliffe,NaN,Killed,Victim
17,478925,56,Adult 18+,Male,Anthony Ticali,NaN,Killed,Victim
18,478925,33,Adult 18+,Male,Sonny Archuleta,NaN,Killed,Subject-Suspect
19,478959,18,Adult 18+,Female,Danielle Imani Jameison,Family,Injured,Victim
20,478959,46,Adult 18+,Male,"Maurice Eugene Edmonds, Sr.",NaN,Injured,Victim
21,478959,14,Teen 12-17,Male,Maurice Edmonds II,NaN,Killed,Victim
22,478959,47,Adult 18+,Female,Sandra Palmer,NaN,Killed,Subject-Suspect
23,478948,23,Adult 18+,Female,Rebeika Powell,NaN,Killed,Victim
24,478948,23,Adult 18+,Female,Kayetie Melchor,NaN,Killed,Victim
25,478948,33,Adult 18+,Female,Misty Nunley,NaN,Killed,Victim
26,478948,55,Adult 18+,Female,Julie Jackson,NaN,Killed,Victim
27,478948,NaN,Adult 18+,Male,James Poore,NaN,"Unharmed, Arrested",Subject-Suspect
28,478948,NaN,Adult 18+,Male,Cedric Poore,NaN,"Unharmed, Arrested",Subject-Suspect
29,479363,51,Adult 18+,Male,Greg Griego,Family,Killed,Victim
...,...,...,...,...,...,...,...,...
417154,1082057,NaN,Adult 18+,NaN,NaN,NaN,Injured,Victim
417155,1082057,NaN,Adult 18+,NaN,NaN,NaN,Injured,Victim
417156,1082057,NaN,Adult 18+,NaN,NaN,NaN,Injured,Victim
417157,1082091,20,Adult 18+,Male,"Richard ""Richie"" Gonzalez",NaN,Killed,Victim
417158,1082091,22,Adult 18+,Male,"Francisco ""Pancho"" Avalos Jr",NaN,Killed,Victim
417159,1081719,NaN,Adult 18+,Male,NaN,NaN,Injured,Victim
417160,1081719,NaN,Adult 18+,Male,NaN,NaN,Injured,Victim
417161,1081719,NaN,Adult 18+,Male,NaN,NaN,Injured,Victim
417162,1081719,NaN,Adult 18+,Male,NaN,NaN,Injured,Victim
417163,1082388,18,Adult 18+,Male,NaN,NaN,Injured,Victim
417164,1082388,22,Adult 18+,Male,NaN,NaN,Injured,Victim
417165,1082197,27,Adult 18+,Male,Jason Birt,NaN,Killed,Subject-Suspect
417166,1082023,63,Adult 18+,Female,Garrett Noll,NaN,Injured,Victim
417167,1082023,22,Adult 18+,Male,NaN,NaN,"Unharmed, Arrested",Subject-Suspect
417168,1082226,31,Adult 18+,Male,NaN,NaN,Injured,Victim
417169,1082226,56,Adult 18+,Male,NaN,NaN,"Unharmed, Arrested",Subject-Suspect
417170,1081894,7,Child 0-11,Male,Jermon Perry,Family,Killed,Victim
417171,1081894,5,Child 0-11,Male,NaN,NaN,Unharmed,Subject-Suspect
417172,1082234,69,Adult 18+,Male,Nicole McKinney,NaN,Injured,Victim
417173,1082234,35,Adult 18+,Female,NaN,NaN,Arrested,Subject-Suspect
417174,1081742,NaN,NaN,Male,NaN,NaN,Injured,Victim
417175,1082990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
417176,1081752,36,Adult 18+,Male,NaN,NaN,Injured,Victim
417177,1081752,NaN,Adult 18+,Male,NaN,NaN,Unharmed,Subject-Suspect
417178,1082061,48,Adult 18+,Male,Sean M. Gummow,NaN,"Unharmed, Arrested",Subject-Suspect
417179,1083142,25,Adult 18+,Female,Jhkeya Tezeno,NaN,"Unharmed, Arrested",Subject-Suspect
417180,1083139,21,Adult 18+,Male,Jamal Haskett,NaN,Killed,Victim
417181,1083139,NaN,Adult 18+,Male,Jaquarious Tyjuan Ardison,NaN,"Unharmed, Arrested",Subject-Suspect
417182,1083151,21,Adult 18+,Male,NaN,NaN,Injured,Victim
417183,1082514,42,Adult 18+,Male,Leroy Ellis,NaN,Killed,Victim

In [5]:
###
# read population csv
###
df_pop = pd.read_csv("popcount.csv", sep=';')
print('done')

done

In [10]:
# scatterplot: hoeveel victims bij een suspect, afgezet tegen leeftijd
# aangeven: aantal vicitms killed
# dus df: id, age_suspect, gender_suspect, number_of_victims, number_of_kills

#participant status: Unharmed, Killed, Injured, else Unknown
 
# make column names
plist = [['incident_id', 'gender_suspect', 'age_suspect', 'victims', 'killed', 'injured', 'unharmed', 'suspectcount','police_suspect', 'police_victim', 'p_total']]

# set starting values
lastid = 461105
victimcount = 0
suspectcount = 0
killedcount = 0
injuredcount = 0
unharmedcount = 0
suspectlist = []
police_suspect = 0
police_victim = 0
p_total = 0


for index, row in df_p.iterrows():
    currentid = row['incident_id']
    if currentid != lastid:
        for suspect in suspectlist: 
            # sla alles op in list 
            plist.append([lastid, suspect[0], suspect[1], victimcount, killedcount, injuredcount, unharmedcount, suspectcount, police_suspect, police_victim, p_total])
        
#         print(plist)
        # reset variables:
        victimcount = 0
        suspectcount = 0
        killedcount = 0
        injuredcount = 0
        unharmedcount = 0
        suspectlist = []
        police_suspect = 0
        police_victim = 0
        p_total = 0

        
    if row['participant_type'] == 'Victim':
        victimcount += 1
        if 'Killed' in row['participant_status']:
            killedcount += 1
            
        if 'Injured' in row['participant_status']:
            injuredcount += 1
            
        if 'Unharmed' in row['participant_status']:
            unharmedcount += 1
            
            
    elif row['participant_type'] == 'Subject-Suspect':
        suspectcount+= 1
        gender_suspect = row['participant_gender']
        age_suspect = row['participant_age']
        
        suspectlist.append([gender_suspect, age_suspect])
        
    if 'officer' in row['participant_name'].lower():
        if row['participant_type'] == 'Subject-Suspect':
            police_suspect += 1
        elif row['participant_type'] == 'Victim':
            police_victim += 1

    elif 'agent' in row['participant_name'].lower():
        if row['participant_type'] == 'Subject-Suspect':
            police_suspect += 1
        elif row['participant_type'] == 'Victim':
            police_victim += 1
    elif 'ofc' in row['participant_name'].lower():
        if row['participant_type'] == 'Subject-Suspect':
            police_suspect += 1
        elif row['participant_type'] == 'Victim':
            police_victim += 1
    elif 'deputy' in row['participant_name'].lower():
        if row['participant_type'] == 'Subject-Suspect':
            police_suspect += 1
        elif row['participant_type'] == 'Victim':
            police_victim += 1
    elif 'swat' in row['participant_name'].lower():
        if row['participant_type'] == 'Subject-Suspect':
            police_suspect += 1
        elif row['participant_type'] == 'Victim':
            police_victim += 1
            
    p_total = police_suspect + police_victim
        
    
    lastid = currentid

    
print('done')

done

In [11]:
# plist
headers = plist.pop(0)

df_police = pd.DataFrame(plist, columns=headers)
df_police.to_json('df_police.json')

# df_age['police_unknown'].value_counts()

# delrows = df_age.loc[df_age['age_suspect'] == 311]
# delrows

# drop row with guy thats 300 years old
# df_age = df_age.drop(184096)

print('ohjessss')

ohjessss

In [4]:
df_police = pd.read_json("df_police.json")

In [5]:
# lon, lat en state bij elke row krijgen is nu doel

# drop useless columns uit df
df_small = df.drop(['address', 'gun_stolen', 'gun_type', 'incident_characteristics', 
                    'congressional_district', 'location_description', 'notes', 
                    'participant_age', 'participant_age_group', 'participant_gender', 
                    'participant_name', 'participant_relationship', 'n_guns_involved',
                   'n_injured', 'n_killed', 'participant_status', 'participant_type', 'state_house_district',
                   'state_senate_district'], 1)
    
# rename lon en lat columns
df_small.rename(columns={'longitude': 'lon', 'latitude': 'lat'}, inplace=True)

# merge small en alles met police 
df_merged = pd.merge(df_small, df_police, on="incident_id")

display(df_merged)

# add colors to df_merged
colorlist = []
for index, row in df_merged.iterrows():
    if row['police_victim'] != 0:
        colorlist.append('red')
    elif row['police_suspect'] != 0:
        colorlist.append('blue')
    else: 
        colorlist.append('green')
        
df_merged['colors'] = colorlist

# df met alleen police
df_police = df_police[df_police.p_total != 0]

# merge alleen police en smalle 
df_merged_police = pd.merge(df_small, df_police, on="incident_id")

# add colors to df_merged_police
colorlist = []
for index, row in df_merged_police.iterrows():
    if row['police_victim'] != 0:
        colorlist.append('red')
    elif row['police_suspect'] != 0:
        colorlist.append('blue')
    else: 
        colorlist.append('green')
df_merged_police['colors'] = colorlist


# create init columns in merged df
df_merged['colors_init'] = df_merged['colors']
df_merged['lon_init'] = df_merged['lon']
df_merged['lat_init'] = df_merged['lat']

df_merged_police

,city_or_county,date,incident_id,lat,lon,state,age_suspect,gender_suspect,injured,killed,p_total,police_suspect,police_victim,suspectcount,unharmed,victims
0,Mckeesport,2013-01-01,461105,40.3467,-79.8559,Pennsylvania,NaN,NaN,3,0,0,0,0,1,0,4
1,Hawthorne,2013-01-01,460726,33.9090,-118.3330,California,NaN,NaN,3,1,0,0,0,1,0,4
2,Lorain,2013-01-01,478855,41.4455,-82.1377,Ohio,25.0,Male,2,1,0,0,0,2,0,3
3,Lorain,2013-01-01,478855,41.4455,-82.1377,Ohio,31.0,Male,2,1,0,0,0,2,0,3
4,Aurora,2013-01-05,478925,39.6518,-104.8020,Colorado,33.0,Male,0,3,0,0,0,1,0,3
5,Greensboro,2013-01-07,478959,36.1140,-79.9569,North Carolina,47.0,Female,2,1,0,0,0,1,0,3
6,Tulsa,2013-01-07,478948,36.2405,-95.9768,Oklahoma,NaN,Male,0,4,0,0,0,2,0,4
7,Tulsa,2013-01-07,478948,36.2405,-95.9768,Oklahoma,NaN,Male,0,4,0,0,0,2,0,4
8,Albuquerque,2013-01-19,479363,34.9791,-106.7160,New Mexico,15.0,Male,0,5,0,0,0,1,0,5
9,New Orleans,2013-01-21,479374,29.9435,-90.0836,Louisiana,NaN,NaN,5,0,0,0,0,1,0,5
10,Brentwood,2013-01-21,479389,37.9656,-121.7180,California,NaN,Male,4,0,0,0,0,1,0,4
11,Chattanooga,2013-01-23,491674,35.0221,-85.2697,Tennessee,NaN,NaN,3,1,0,0,0,1,0,4
12,Saint Louis,2013-01-25,479413,38.7067,-90.2494,Missouri,NaN,NaN,3,1,0,0,0,1,0,4
13,Charenton,2013-01-26,479561,29.8816,-91.5251,Louisiana,NaN,Male,2,2,1,0,1,1,0,4
14,Washington,2013-01-26,479554,38.8978,-76.9717,District of Columbia,NaN,Male,5,0,0,0,0,1,0,5
15,Springfield,2013-01-26,479460,39.9252,-83.8218,Ohio,29.0,Male,3,1,0,0,0,1,0,4
16,Memphis,2013-02-02,479573,35.0803,-89.8871,Tennessee,NaN,Female,5,0,0,0,0,1,0,5
17,Yuba (county),2013-02-03,479580,39.1236,-121.5830,California,NaN,Male,3,1,0,0,0,3,0,4
18,Yuba (county),2013-02-03,479580,39.1236,-121.5830,California,NaN,Male,3,1,0,0,0,3,0,4
19,Yuba (county),2013-02-03,479580,39.1236,-121.5830,California,NaN,NaN,3,1,0,0,0,3,0,4
20,Chicago,2013-02-07,479592,41.7592,-87.5628,Illinois,NaN,NaN,4,0,0,0,0,2,0,4
21,Chicago,2013-02-07,479592,41.7592,-87.5628,Illinois,NaN,NaN,4,0,0,0,0,2,0,4
22,New Orleans,2013-02-09,479603,29.9563,-90.0676,Louisiana,19.0,Male,4,0,0,0,0,3,0,4
23,New Orleans,2013-02-09,479603,29.9563,-90.0676,Louisiana,22.0,Male,4,0,0,0,0,3,0,4
24,New Orleans,2013-02-09,479603,29.9563,-90.0676,Louisiana,23.0,Male,4,0,0,0,0,3,0,4
25,Wilmington,2013-02-11,480327,39.7407,-75.5499,Delaware,NaN,Male,2,2,2,0,2,1,0,4
26,Midvale,2013-02-12,480344,40.6008,-111.9030,Utah,NaN,Male,1,3,0,0,0,2,0,4
27,Midvale,2013-02-12,480344,40.6008,-111.9030,Utah,NaN,Male,1,3,0,0,0,2,0,4
28,Orange (county),2013-02-19,480358,33.8031,-117.9430,California,NaN,NaN,3,3,0,0,0,1,0,6
29,Tulsa,2013-02-21,480383,36.1722,-95.8778,Oklahoma,41.0,Male,3,1,0,0,0,1,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199232,Springfield,2018-03-31,1082867,42.0925,-72.5803,Massachusetts,NaN,Male,1,0,0,0,0,3,0,1
199233,Springfield,2018-03-31,1082867,42.0925,-72.5803,Massachusetts,NaN,Male,1,0,0,0,0,3,0,1
199234,Springfield,2018-03-31,1082867,42.0925,-72.5803,Massachusetts,NaN,Male,1,0,0,0,0,3,0,1
199235,Charlotte,2018-03-31,1082187,35.1372,-80.8772,North Carolina,NaN,Male,1,0,0,0,0,3,0,1
199236,Charlotte,2018-03-31,1082187,35.1372,-80.8772,North Carolina,NaN,Male,1,0,0,0,0,3,0,1
199237,Charlotte,2018-03-31,1082187,35.1372,-80.8772,North Carolina,NaN,NaN,1,0,0,0,0,3,0,1
199238,Miami,2018-03-31,1081645,NaN,NaN,Florida,NaN,Male,0,0,0,0,0,1,0,0
199239,Salinas,2018-03-31,1082607,36.6191,-121.6360,California,27.0,Male,0,0,0,0,0,2,0,0
199240,Salinas,2018-03-31,1082607,36.6191,-121.6360,California,20.0,Male,0,0,0,0,0,2,0,0
199241,Martin,2018-03-31,1082413,36.3500,-88.8510,Tennessee,NaN,Male,0,0,0,0,0,1,0,0
199242,Uniondale,2018-03-31,1082426,40.6887,-73.5990,New York,NaN,Male,0,0,0,0,0,3,0,0
199243,Uniondale,2018-03-31,1082426,40.6887,-73.5990,New York,NaN,Male,0,0,0,0,0,3,0,0
199244,Uniondale,2018-03-31,1082426,40.6887,-73.5990,New York,NaN,NaN,0,0,0,0,0,3,0,0
199245,Bangor,2018-03-31,1081936,NaN,NaN,Maine,20.0,Male,0,0,0,0,0,1,0,0
199246,Las Vegas,2018-03-31,1081949,NaN,NaN,Nevada,NaN,Male,0,0,0,0,0,1,0,0
199247,Palmdale,2018-03-31,1082266,34.5713,-118.0450,California,NaN,Male,0,1,0,0,0,1,0,1
199248,Wichita Falls,2018-03-31,1082483,33.9052,-98.5151,Texas,NaN,Male,0,0,0,0,0,1,1,1
199249,Dallas,2018-03-31,1082486,32.6772,-96.8059,Texas,NaN,NaN,0,0,0,0,0,1,1,1
199250,Reno,2018-03-31,1083121,39.4832,-119.7800,Nevada,21.0,Male,0,0,0,0,0,1,0,0
199251,San Diego,2018-03-31,1082089,32.8936,-117.1360,California,NaN,Male,0,0,0,0,0,1,0,0
199252,Shafter,2018-03-31,1082394,35.5019,-119.2830,California,55.0,Male,0,0,0,0,0,1,0,0
199253,Guthrie,2018-03-31,1082197,35.8739,-97.4163,Oklahoma,27.0,Male,0,0,0,0,0,1,0,0
199254,Festus,2018-03-31,1082023,38.2074,-90.4990,Missouri,22.0,Male,1,0,0,0,0,1,0,1
199255,Saint Clair,2018-03-31,1082226,NaN,NaN,Missouri,56.0,Male,1,0,0,0,0,1,0,1
199256,Saint Louis,2018-03-31,1081894,NaN,NaN,Missouri,5.0,Male,0,1,0,0,0,1,0,1
199257,Memphis,2018-03-31,1082234,35.2045,-89.9872,Tennessee,35.0,Female,1,0,0,0,0,1,0,1
199258,Chicago,2018-03-31,1081752,NaN,NaN,Illinois,NaN,Male,1,0,0,0,0,1,0,1
199259,Spokane (Spokane Valley),2018-03-31,1082061,47.6638,-117.2350,Washington,48.0,Male,0,0,0,0,0,1,0,0
199260,Rayne,2018-03-31,1083142,NaN,NaN,Louisiana,25.0,Female,0,0,0,0,0,1,0,0
199261,Natchitoches,2018-03-31,1083139,31.7537,-93.0836,Louisiana,NaN,Male,0,1,0,0,0,1,0,1

,city_or_county,date,incident_id,lat,lon,state,age_suspect,gender_suspect,injured,killed,p_total,police_suspect,police_victim,suspectcount,unharmed,victims,colors
0,Charenton,2013-01-26,479561,29.8816,-91.5251,Louisiana,NaN,Male,2,2,1,0,1,1,0,4,red
1,Wilmington,2013-02-11,480327,39.7407,-75.5499,Delaware,NaN,Male,2,2,2,0,2,1,0,4,red
2,Delanco,2013-05-14,1007785,40.0521,-74.9578,New Jersey,NaN,Male,1,0,1,0,1,1,0,1,red
3,Washington Navy Yard,2013-09-16,480366,38.8730,-76.9977,District of Columbia,NaN,Male,3,11,1,0,1,1,0,15,red
4,Roseville,2013-10-27,492699,38.7354,-121.2260,California,NaN,Male,4,0,4,0,4,1,0,4,red
5,Los Angeles,2013-11-03,492950,33.9454,-118.3990,California,NaN,NaN,3,1,3,0,3,1,0,5,red
6,Canon City,2014-01-01,92614,38.4340,-105.2640,Colorado,NaN,Male,1,0,2,2,0,2,0,1,blue
7,Canon City,2014-01-01,92614,38.4340,-105.2640,Colorado,NaN,Male,1,0,2,2,0,2,0,1,blue
8,Miami Township,2014-01-01,92177,39.6077,-84.3014,Ohio,NaN,Male,0,0,1,0,1,1,1,1,red
9,Crestview,2014-01-02,92883,30.7586,-86.5752,Florida,NaN,Male,2,0,2,0,2,2,0,2,red
10,Crestview,2014-01-02,92883,30.7586,-86.5752,Florida,NaN,Male,2,0,2,0,2,2,0,2,red
11,Fort Mill,2014-01-07,209247,35.0262,-80.9058,South Carolina,NaN,Male,1,0,1,0,1,1,0,1,red
12,Houston,2014-01-16,97329,29.8645,-95.4739,Texas,NaN,Male,0,0,1,0,1,1,1,1,red
13,Oakland,2014-01-21,99325,37.7716,-122.2050,California,NaN,NaN,1,0,1,0,1,1,0,1,red
14,Coachella,2014-01-27,101283,33.6968,-116.2090,California,NaN,Male,0,1,1,1,0,2,0,1,blue
15,Coachella,2014-01-27,101283,33.6968,-116.2090,California,NaN,Female,0,1,1,1,0,2,0,1,blue
16,Laughlin,2014-01-31,103283,35.1311,-114.6240,Nevada,28.0,Male,1,0,1,0,1,2,0,1,red
17,Laughlin,2014-01-31,103283,35.1311,-114.6240,Nevada,NaN,NaN,1,0,1,0,1,2,0,1,red
18,Cobb County,2014-02-04,103682,33.8999,-84.5641,Georgia,NaN,Male,1,0,1,0,1,3,0,1,red
19,Cobb County,2014-02-04,103682,33.8999,-84.5641,Georgia,NaN,Female,1,0,1,0,1,3,0,1,red
20,Cobb County,2014-02-04,103682,33.8999,-84.5641,Georgia,NaN,Male,1,0,1,0,1,3,0,1,red
21,Perry,2014-02-05,104105,30.0896,-83.5742,Florida,NaN,NaN,3,0,1,0,1,1,0,3,red
22,Tallahassee,2014-02-05,196110,30.4310,-84.2603,Florida,NaN,Male,2,1,1,0,1,1,0,3,red
23,North Augusta,2014-02-09,105388,33.5585,-81.9333,South Carolina,24.0,Male,0,1,1,1,0,1,0,1,blue
24,Columbia,2014-02-09,105386,33.9939,-81.0283,South Carolina,NaN,Male,1,0,1,0,1,1,0,1,red
25,Orange County,2014-02-10,105249,38.4415,-86.3901,Indiana,30.0,Female,1,0,1,0,1,3,0,1,red
26,Orange County,2014-02-10,105249,38.4415,-86.3901,Indiana,30.0,Male,1,0,1,0,1,3,0,1,red
27,Orange County,2014-02-10,105249,38.4415,-86.3901,Indiana,NaN,Male,1,0,1,0,1,3,0,1,red
28,Indianapolis,2014-02-12,106188,39.7313,-86.2353,Indiana,NaN,NaN,0,0,2,0,2,1,2,2,red
29,Burlington,2014-02-12,106327,40.8077,-91.1129,Iowa,NaN,NaN,0,0,1,0,1,1,1,1,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,San Diego,2018-02-16,1058005,32.7918,-117.0150,California,43.0,Male,0,0,1,1,0,1,0,0,blue
1678,Mobile,2018-02-20,1053805,30.7158,-88.0783,Alabama,NaN,Male,0,1,1,0,1,1,0,1,red
1679,Montgomery,2018-02-21,1054359,32.3559,-86.3270,Alabama,NaN,NaN,2,0,1,0,1,1,0,2,red
1680,Oklahoma City,2018-02-21,1068105,35.4932,-97.5700,Oklahoma,29.0,Male,0,0,1,1,0,1,0,0,blue
1681,Kailua Kona,2018-02-21,1054831,NaN,NaN,Hawaii,NaN,Male,1,0,1,0,1,1,0,1,red
1682,Covington,2018-02-24,1056358,39.0373,-84.4957,Kentucky,NaN,Male,2,0,1,0,1,1,0,2,red
1683,Saint Louis,2018-02-26,1057993,38.7525,-90.2080,Missouri,40.0,Male,1,0,1,0,1,1,0,1,red
1684,Coeur D Alene (Coeur D'alene),2018-02-27,1059342,47.6961,-116.7860,Idaho,NaN,Male,1,0,1,0,1,1,0,1,red
1685,Saint Stephen,2018-03-02,1061298,33.4249,-79.9488,South Carolina,31.0,Male,1,0,1,0,1,1,0,1,red
1686,Lebanon,2018-03-02,1060907,40.0531,-86.4634,Indiana,21.0,Male,0,1,1,0,1,1,0,1,red
1687,Mount Dora,2018-03-02,1063321,28.8024,-81.6448,Florida,NaN,Male,0,0,1,0,1,1,1,1,red
1688,Sandpoint,2018-03-05,1062792,48.2636,-116.5720,Idaho,NaN,Male,2,0,2,0,2,1,0,2,red
1689,San Antonio,2018-03-06,1064111,29.6684,-98.6691,Texas,NaN,NaN,1,1,1,0,1,1,0,2,red
1690,Clinton,2018-03-06,1064221,38.3681,-93.7796,Missouri,NaN,Male,2,1,3,0,3,1,0,3,red
1691,Pomona,2018-03-09,1066395,34.0459,-117.7450,California,NaN,NaN,1,1,2,0,2,1,0,2,red
1692,Seaside,2018-03-13,1068912,36.6217,-121.8380,California,NaN,Male,1,0,1,1,0,1,0,1,blue
1693,Elkhorn City,2018-03-13,1069414,37.2684,-82.4246,Kentucky,55.0,Male,0,1,1,0,1,1,0,1,red
1694,Atwater,2018-03-14,1069610,37.3458,-120.6620,California,29.0,Male,0,0,1,1,0,2,0,0,blue
1695,Atwater,2018-03-14,1069610,37.3458,-120.6620,California,NaN,Female,0,0,1,1,0,2,0,0,blue
1696,Tampa,2018-03-19,1072883,27.9471,-82.4596,Florida,NaN,Male,1,0,1,0,1,1,0,1,red
1697,San Francisco,2018-03-21,1074886,37.7163,-122.4400,California,NaN,NaN,5,0,1,0,1,1,0,5,red
1698,Aurora,2018-03-22,1075816,41.7564,-88.3230,Illinois,NaN,Male,1,0,1,0,1,1,0,1,red
1699,Austin,2018-03-25,1077722,30.1978,-97.7561,Texas,NaN,Male,1,0,1,0,1,1,0,1,red
1700,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,42.0,Male,0,0,2,2,0,6,0,0,blue
1701,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,47.0,Male,0,0,2,2,0,6,0,0,blue
1702,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,63.0,Male,0,0,2,2,0,6,0,0,blue
1703,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,34.0,Male,0,0,2,2,0,6,0,0,blue
1704,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,23.0,Female,0,0,2,2,0,6,0,0,blue
1705,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,24.0,Male,0,0,2,2,0,6,0,0,blue
1706,Hopkinsville,2018-03-29,1080584,36.8593,-87.5088,Kentucky,35.0,Male,0,1,1,0,1,1,0,1,red

In [8]:
from bokeh.layouts import column
from bokeh.layouts import row, widgetbox
from bokeh.models import CustomJS, Slider, Select

# coordinates = pd.concat([yearlist, data['incident_id'], data['latitude'], data['longitude']], axis=1, keys=['year', 'id', 'lat', 'lon'])
source = ColumnDataSource(df_merged)
psource = ColumnDataSource(df_merged_police)

output_file("gmap_police_multiplesources.html")

map_options = GMapOptions(lat=40.0000, lng=-100.0000, map_type="roadmap", zoom=4)

API_key = "AIzaSyCJEv5ycF5vALgOG5pbIaUt8ACCCvYhs40"
p = gmap(API_key, map_options, title="Gun violence incidents - Police", plot_width=800, plot_height=400)

my_hover = HoverTool()
my_hover.tooltips = [('Incident ID: ', '@incident_id')]
p.add_tools(my_hover)


callback = CustomJS(args=dict(p=p, source=source, psource = psource), code="""

            var slidervalue = cb_obj.active;
            var data1 = source.data;       
            var data2 = psource.data;     
            x = data1['longitude']
            y = data1['latitude']
            
            if (slidervalue == 'A') {
                for (i = 0; i < x.length; i++) {
                    x[i] = data2['longitude'][i]
                    y[i] = data2['latitude'][i]
                }
            }
            
            else if (slidervalue == 'B') {
                for (i = 0; i < x.length; i++) {
                    x[i] = data2['longitude'][i]
                    y[i] = data2['latitude'][i]
                }
            }
            
            else if (slidervalue == 'C') {
                for (i = 0; i < x.length; i++) {
                    x[i] = data2['longitude'][i]
                    y[i] = data2['latitude'][i]
                }
            }
            

        source.change.emit();
        """)

# p.circle('x', 'y', source=psource, color='red', size=10)
p.circle(x="longitude", y="latitude", size=2, fill_color="red", fill_alpha=0.8 ,
         source=source
        )

select = Select(title='Choose', value='A', options=['A','B','C'])
select.js_on_change('value', callback)


layout = column(p, widgetbox(select),
)
show(layout)

E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name: latitude, longitude [renderer: GlyphRenderer(id='317a949f-3c2c-45e5-a881-ddbc6905d785', ...)]

# kaart all incidents / police button

# kleinere kaart ivm laadproblemen: alleen police

In [10]:
df_merged_police

,city_or_county,date,incident_id,lat,lon,state,age_suspect,gender_suspect,injured,killed,p_total,police_suspect,police_victim,suspectcount,unharmed,victims,colors
0,Charenton,2013-01-26,479561,29.8816,-91.5251,Louisiana,NaN,Male,2,2,1,0,1,1,0,4,red
1,Wilmington,2013-02-11,480327,39.7407,-75.5499,Delaware,NaN,Male,2,2,2,0,2,1,0,4,red
2,Delanco,2013-05-14,1007785,40.0521,-74.9578,New Jersey,NaN,Male,1,0,1,0,1,1,0,1,red
3,Washington Navy Yard,2013-09-16,480366,38.8730,-76.9977,District of Columbia,NaN,Male,3,11,1,0,1,1,0,15,red
4,Roseville,2013-10-27,492699,38.7354,-121.2260,California,NaN,Male,4,0,4,0,4,1,0,4,red
5,Los Angeles,2013-11-03,492950,33.9454,-118.3990,California,NaN,NaN,3,1,3,0,3,1,0,5,red
6,Canon City,2014-01-01,92614,38.4340,-105.2640,Colorado,NaN,Male,1,0,2,2,0,2,0,1,blue
7,Canon City,2014-01-01,92614,38.4340,-105.2640,Colorado,NaN,Male,1,0,2,2,0,2,0,1,blue
8,Miami Township,2014-01-01,92177,39.6077,-84.3014,Ohio,NaN,Male,0,0,1,0,1,1,1,1,red
9,Crestview,2014-01-02,92883,30.7586,-86.5752,Florida,NaN,Male,2,0,2,0,2,2,0,2,red
10,Crestview,2014-01-02,92883,30.7586,-86.5752,Florida,NaN,Male,2,0,2,0,2,2,0,2,red
11,Fort Mill,2014-01-07,209247,35.0262,-80.9058,South Carolina,NaN,Male,1,0,1,0,1,1,0,1,red
12,Houston,2014-01-16,97329,29.8645,-95.4739,Texas,NaN,Male,0,0,1,0,1,1,1,1,red
13,Oakland,2014-01-21,99325,37.7716,-122.2050,California,NaN,NaN,1,0,1,0,1,1,0,1,red
14,Coachella,2014-01-27,101283,33.6968,-116.2090,California,NaN,Male,0,1,1,1,0,2,0,1,blue
15,Coachella,2014-01-27,101283,33.6968,-116.2090,California,NaN,Female,0,1,1,1,0,2,0,1,blue
16,Laughlin,2014-01-31,103283,35.1311,-114.6240,Nevada,28.0,Male,1,0,1,0,1,2,0,1,red
17,Laughlin,2014-01-31,103283,35.1311,-114.6240,Nevada,NaN,NaN,1,0,1,0,1,2,0,1,red
18,Cobb County,2014-02-04,103682,33.8999,-84.5641,Georgia,NaN,Male,1,0,1,0,1,3,0,1,red
19,Cobb County,2014-02-04,103682,33.8999,-84.5641,Georgia,NaN,Female,1,0,1,0,1,3,0,1,red
20,Cobb County,2014-02-04,103682,33.8999,-84.5641,Georgia,NaN,Male,1,0,1,0,1,3,0,1,red
21,Perry,2014-02-05,104105,30.0896,-83.5742,Florida,NaN,NaN,3,0,1,0,1,1,0,3,red
22,Tallahassee,2014-02-05,196110,30.4310,-84.2603,Florida,NaN,Male,2,1,1,0,1,1,0,3,red
23,North Augusta,2014-02-09,105388,33.5585,-81.9333,South Carolina,24.0,Male,0,1,1,1,0,1,0,1,blue
24,Columbia,2014-02-09,105386,33.9939,-81.0283,South Carolina,NaN,Male,1,0,1,0,1,1,0,1,red
25,Orange County,2014-02-10,105249,38.4415,-86.3901,Indiana,30.0,Female,1,0,1,0,1,3,0,1,red
26,Orange County,2014-02-10,105249,38.4415,-86.3901,Indiana,30.0,Male,1,0,1,0,1,3,0,1,red
27,Orange County,2014-02-10,105249,38.4415,-86.3901,Indiana,NaN,Male,1,0,1,0,1,3,0,1,red
28,Indianapolis,2014-02-12,106188,39.7313,-86.2353,Indiana,NaN,NaN,0,0,2,0,2,1,2,2,red
29,Burlington,2014-02-12,106327,40.8077,-91.1129,Iowa,NaN,NaN,0,0,1,0,1,1,1,1,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,San Diego,2018-02-16,1058005,32.7918,-117.0150,California,43.0,Male,0,0,1,1,0,1,0,0,blue
1678,Mobile,2018-02-20,1053805,30.7158,-88.0783,Alabama,NaN,Male,0,1,1,0,1,1,0,1,red
1679,Montgomery,2018-02-21,1054359,32.3559,-86.3270,Alabama,NaN,NaN,2,0,1,0,1,1,0,2,red
1680,Oklahoma City,2018-02-21,1068105,35.4932,-97.5700,Oklahoma,29.0,Male,0,0,1,1,0,1,0,0,blue
1681,Kailua Kona,2018-02-21,1054831,NaN,NaN,Hawaii,NaN,Male,1,0,1,0,1,1,0,1,red
1682,Covington,2018-02-24,1056358,39.0373,-84.4957,Kentucky,NaN,Male,2,0,1,0,1,1,0,2,red
1683,Saint Louis,2018-02-26,1057993,38.7525,-90.2080,Missouri,40.0,Male,1,0,1,0,1,1,0,1,red
1684,Coeur D Alene (Coeur D'alene),2018-02-27,1059342,47.6961,-116.7860,Idaho,NaN,Male,1,0,1,0,1,1,0,1,red
1685,Saint Stephen,2018-03-02,1061298,33.4249,-79.9488,South Carolina,31.0,Male,1,0,1,0,1,1,0,1,red
1686,Lebanon,2018-03-02,1060907,40.0531,-86.4634,Indiana,21.0,Male,0,1,1,0,1,1,0,1,red
1687,Mount Dora,2018-03-02,1063321,28.8024,-81.6448,Florida,NaN,Male,0,0,1,0,1,1,1,1,red
1688,Sandpoint,2018-03-05,1062792,48.2636,-116.5720,Idaho,NaN,Male,2,0,2,0,2,1,0,2,red
1689,San Antonio,2018-03-06,1064111,29.6684,-98.6691,Texas,NaN,NaN,1,1,1,0,1,1,0,2,red
1690,Clinton,2018-03-06,1064221,38.3681,-93.7796,Missouri,NaN,Male,2,1,3,0,3,1,0,3,red
1691,Pomona,2018-03-09,1066395,34.0459,-117.7450,California,NaN,NaN,1,1,2,0,2,1,0,2,red
1692,Seaside,2018-03-13,1068912,36.6217,-121.8380,California,NaN,Male,1,0,1,1,0,1,0,1,blue
1693,Elkhorn City,2018-03-13,1069414,37.2684,-82.4246,Kentucky,55.0,Male,0,1,1,0,1,1,0,1,red
1694,Atwater,2018-03-14,1069610,37.3458,-120.6620,California,29.0,Male,0,0,1,1,0,2,0,0,blue
1695,Atwater,2018-03-14,1069610,37.3458,-120.6620,California,NaN,Female,0,0,1,1,0,2,0,0,blue
1696,Tampa,2018-03-19,1072883,27.9471,-82.4596,Florida,NaN,Male,1,0,1,0,1,1,0,1,red
1697,San Francisco,2018-03-21,1074886,37.7163,-122.4400,California,NaN,NaN,5,0,1,0,1,1,0,5,red
1698,Aurora,2018-03-22,1075816,41.7564,-88.3230,Illinois,NaN,Male,1,0,1,0,1,1,0,1,red
1699,Austin,2018-03-25,1077722,30.1978,-97.7561,Texas,NaN,Male,1,0,1,0,1,1,0,1,red
1700,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,42.0,Male,0,0,2,2,0,6,0,0,blue
1701,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,47.0,Male,0,0,2,2,0,6,0,0,blue
1702,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,63.0,Male,0,0,2,2,0,6,0,0,blue
1703,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,34.0,Male,0,0,2,2,0,6,0,0,blue
1704,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,23.0,Female,0,0,2,2,0,6,0,0,blue
1705,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,24.0,Male,0,0,2,2,0,6,0,0,blue
1706,Hopkinsville,2018-03-29,1080584,36.8593,-87.5088,Kentucky,35.0,Male,0,1,1,0,1,1,0,1,red

In [7]:
from bokeh.layouts import column
from bokeh.layouts import row, widgetbox
from bokeh.models import CustomJS, Slider, Select, RadioButtonGroup, CheckboxButtonGroup


# coordinates = pd.concat([df['incident_id'], df['state'], df['latitude'], df['longitude']], axis=1, keys=['id','state', 'lat', 'lon'])
# display(coordinates)

# source = ColumnDataSource(df_merged)
source = ColumnDataSource(df_merged_police)

output_file("gmap_police_2.html")

map_options = GMapOptions(lat=40.0000, lng=-100.0000, map_type="roadmap", zoom=4)

API_key = "AIzaSyCJEv5ycF5vALgOG5pbIaUt8ACCCvYhs40"
p = gmap(API_key, map_options, title="Gun Violence incidents", plot_width=800, plot_height=400)

my_hover = HoverTool()
my_hover.tooltips = [('city', '@city_or_county')]
p.add_tools(my_hover)

# p.circle('x', 'y', source=psource, color='red', size=10)

# callback = CustomJS(args=dict(p=p, source=source), code="""

#             var f = cb_obj.active;
#             var data1 = source.data;   
            
#             x = data1['lon_init']
#             y = data1['lat_init']
#             x1 = data1['lon']
#             y1 = data1['lat']
            
            
#             colors = data1['colors_init']
#             colors1 = data1['colors']
            
#         source.change.emit();
#         """)



p.circle(x="lon", y="lat", size=2, fill_color='colors',line_color="colors", fill_alpha=0.8, source=source)

# option = RadioButtonGroup(labels=["Al incidents", "Police incidents"],
#                           active=0, callback=callback)

show(p)
# save(p)

# kleine kaart: png

In [7]:
from bokeh.layouts import column
from bokeh.layouts import row, widgetbox
from bokeh.models import CustomJS, Slider, Select, RadioButtonGroup, CheckboxButtonGroup
from bokeh.io import export_png


# coordinates = pd.concat([df['incident_id'], df['state'], df['latitude'], df['longitude']], axis=1, keys=['id','state', 'lat', 'lon'])
# display(coordinates)

source = ColumnDataSource(df_merged)
# source = ColumnDataSource(df_merged_police)

output_file("gmap_all_incidents_2.html")

map_options = GMapOptions(lat=40.0000, lng=-100.0000, map_type="roadmap", zoom=4)

API_key = "AIzaSyCJEv5ycF5vALgOG5pbIaUt8ACCCvYhs40"
p = gmap(API_key, map_options, title="Gun Violence incidents", plot_width=800, plot_height=400)

my_hover = HoverTool()
my_hover.tooltips = [('city', '@city_or_county')]
p.add_tools(my_hover)

# p.circle('x', 'y', source=psource, color='red', size=10)

# callback = CustomJS(args=dict(p=p, source=source), code="""

#             var f = cb_obj.active;
#             var data1 = source.data;   
            
#             x = data1['lon_init']
#             y = data1['lat_init']
#             x1 = data1['lon']
#             y1 = data1['lat']
            
            
#             colors = data1['colors_init']
#             colors1 = data1['colors']
            
#         source.change.emit();
#         """)



p.circle(x="lon", y="lat", size=1, fill_alpha=0.8, source=source)

# option = RadioButtonGroup(labels=["Al incidents", "Police incidents"],
#                           active=0, callback=callback)


p.background_fill_color
p.border_fill_color
# export_png(p, filename="gmap_png.png")
show(p)
# script, div = components(p)

# Leeftijd shooters

In [12]:
###
# read participants json
###
df_p = pd.read_json("dataset_incidents.json", lines=True)
print('done')

df_p = df_p.replace('NaN', np.NaN)
df_p

done

,incident_id,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type
0,461105,20.0,Adult 18+,Male,Julian Sims,NaN,Arrested,Victim
1,461105,NaN,Adult 18+,Male,None,None,Injured,Victim
2,461105,NaN,Adult 18+,Male,None,None,Injured,Victim
3,461105,NaN,Adult 18+,Female,None,None,Injured,Victim
4,461105,NaN,Adult 18+,None,None,None,Injured,Subject-Suspect
5,460726,20.0,Adult 18+,Male,Bernard Gillis,NaN,Killed,Victim
6,460726,NaN,Adult 18+,None,None,None,Injured,Victim
7,460726,NaN,Adult 18+,None,None,None,Injured,Victim
8,460726,NaN,Adult 18+,None,None,None,Injured,Victim
9,460726,NaN,None,None,None,None,None,Subject-Suspect
10,478855,25.0,Adult 18+,Male,Damien Bell,NaN,"Injured, Unharmed, Arrested",Subject-Suspect
11,478855,31.0,Adult 18+,Male,Desmen Noble,None,"Unharmed, Arrested",Subject-Suspect
12,478855,33.0,Adult 18+,Male,Herman Seagers,None,Killed,Victim
13,478855,34.0,Adult 18+,Male,Ladd Tate Sr,None,Injured,Victim
14,478855,33.0,Adult 18+,Male,Tallis Moore,None,Injured,Victim
15,478925,29.0,Adult 18+,Female,Stacie Philbrook,NaN,Killed,Victim
16,478925,33.0,Adult 18+,Male,Christopher Ratliffe,None,Killed,Victim
17,478925,56.0,Adult 18+,Male,Anthony Ticali,None,Killed,Victim
18,478925,33.0,Adult 18+,Male,Sonny Archuleta,None,Killed,Subject-Suspect
19,478959,18.0,Adult 18+,Female,Danielle Imani Jameison,Family,Injured,Victim
20,478959,46.0,Adult 18+,Male,"Maurice Eugene Edmonds, Sr.",None,Injured,Victim
21,478959,14.0,Teen 12-17,Male,Maurice Edmonds II,None,Killed,Victim
22,478959,47.0,Adult 18+,Female,Sandra Palmer,None,Killed,Subject-Suspect
23,478948,23.0,Adult 18+,Female,Rebeika Powell,NaN,Killed,Victim
24,478948,23.0,Adult 18+,Female,Kayetie Melchor,None,Killed,Victim
25,478948,33.0,Adult 18+,Female,Misty Nunley,None,Killed,Victim
26,478948,55.0,Adult 18+,Female,Julie Jackson,None,Killed,Victim
27,478948,NaN,Adult 18+,Male,James Poore,None,"Unharmed, Arrested",Subject-Suspect
28,478948,NaN,Adult 18+,Male,Cedric Poore,None,"Unharmed, Arrested",Subject-Suspect
29,479363,51.0,Adult 18+,Male,Greg Griego,Family,Killed,Victim
...,...,...,...,...,...,...,...,...
417154,1082057,NaN,Adult 18+,NaN,NaN,NaN,Injured,Victim
417155,1082057,NaN,Adult 18+,None,None,None,Injured,Victim
417156,1082057,NaN,Adult 18+,None,None,None,Injured,Victim
417157,1082091,20.0,Adult 18+,Male,"Richard ""Richie"" Gonzalez",NaN,Killed,Victim
417158,1082091,22.0,Adult 18+,Male,"Francisco ""Pancho"" Avalos Jr",None,Killed,Victim
417159,1081719,NaN,Adult 18+,Male,NaN,NaN,Injured,Victim
417160,1081719,NaN,Adult 18+,Male,None,None,Injured,Victim
417161,1081719,NaN,Adult 18+,Male,None,None,Injured,Victim
417162,1081719,NaN,Adult 18+,Male,None,None,Injured,Victim
417163,1082388,18.0,Adult 18+,Male,NaN,NaN,Injured,Victim
417164,1082388,22.0,Adult 18+,Male,None,None,Injured,Victim
417165,1082197,27.0,Adult 18+,Male,Jason Birt,NaN,Killed,Subject-Suspect
417166,1082023,63.0,Adult 18+,Female,Garrett Noll,NaN,Injured,Victim
417167,1082023,22.0,Adult 18+,Male,None,None,"Unharmed, Arrested",Subject-Suspect
417168,1082226,31.0,Adult 18+,Male,NaN,NaN,Injured,Victim
417169,1082226,56.0,Adult 18+,Male,None,None,"Unharmed, Arrested",Subject-Suspect
417170,1081894,7.0,Child 0-11,Male,Jermon Perry,Family,Killed,Victim
417171,1081894,5.0,Child 0-11,Male,None,None,Unharmed,Subject-Suspect
417172,1082234,69.0,Adult 18+,Male,Nicole McKinney,NaN,Injured,Victim
417173,1082234,35.0,Adult 18+,Female,None,None,Arrested,Subject-Suspect
417174,1081742,NaN,NaN,Male,NaN,NaN,Injured,Victim
417175,1082990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
417176,1081752,36.0,Adult 18+,Male,NaN,NaN,Injured,Victim
417177,1081752,NaN,Adult 18+,Male,None,None,Unharmed,Subject-Suspect
417178,1082061,48.0,Adult 18+,Male,Sean M. Gummow,NaN,"Unharmed, Arrested",Subject-Suspect
417179,1083142,25.0,Adult 18+,Female,Jhkeya Tezeno,NaN,"Unharmed, Arrested",Subject-Suspect
417180,1083139,21.0,Adult 18+,Male,Jamal Haskett,NaN,Killed,Victim
417181,1083139,NaN,Adult 18+,Male,Jaquarious Tyjuan Ardison,None,"Unharmed, Arrested",Subject-Suspect
417182,1083151,21.0,Adult 18+,Male,NaN,NaN,Injured,Victim
417183,1082514,42.0,Adult 18+,Male,Leroy Ellis,NaN,Killed,Victim

In [13]:
df_p_victim = df_p[df_p['participant_type'] == 'Victim']
df_p_suspect = df_p[df_p['participant_type'] == 'Subject-Suspect']

In [14]:
print(df_p['participant_age'].mean())
print(df_p_victim['participant_age'].mean())
print(df_p_suspect['participant_age'].mean())

# Gemiddelde leeftijd victim/suspect is gelijk

29.462031226738965
29.77456790123457
29.05379789635764

In [15]:
df_merged_police

,city_or_county,date,incident_id,lat,lon,state,age_suspect,gender_suspect,injured,killed,p_total,police_suspect,police_victim,suspectcount,unharmed,victims,colors
0,Charenton,2013-01-26,479561,29.8816,-91.5251,Louisiana,NaN,Male,2,2,1,0,1,1,0,4,red
1,Wilmington,2013-02-11,480327,39.7407,-75.5499,Delaware,NaN,Male,2,2,2,0,2,1,0,4,red
2,Delanco,2013-05-14,1007785,40.0521,-74.9578,New Jersey,NaN,Male,1,0,1,0,1,1,0,1,red
3,Washington Navy Yard,2013-09-16,480366,38.8730,-76.9977,District of Columbia,NaN,Male,3,11,1,0,1,1,0,15,red
4,Roseville,2013-10-27,492699,38.7354,-121.2260,California,NaN,Male,4,0,4,0,4,1,0,4,red
5,Los Angeles,2013-11-03,492950,33.9454,-118.3990,California,NaN,NaN,3,1,3,0,3,1,0,5,red
6,Canon City,2014-01-01,92614,38.4340,-105.2640,Colorado,NaN,Male,1,0,2,2,0,2,0,1,blue
7,Canon City,2014-01-01,92614,38.4340,-105.2640,Colorado,NaN,Male,1,0,2,2,0,2,0,1,blue
8,Miami Township,2014-01-01,92177,39.6077,-84.3014,Ohio,NaN,Male,0,0,1,0,1,1,1,1,red
9,Crestview,2014-01-02,92883,30.7586,-86.5752,Florida,NaN,Male,2,0,2,0,2,2,0,2,red
10,Crestview,2014-01-02,92883,30.7586,-86.5752,Florida,NaN,Male,2,0,2,0,2,2,0,2,red
11,Fort Mill,2014-01-07,209247,35.0262,-80.9058,South Carolina,NaN,Male,1,0,1,0,1,1,0,1,red
12,Houston,2014-01-16,97329,29.8645,-95.4739,Texas,NaN,Male,0,0,1,0,1,1,1,1,red
13,Oakland,2014-01-21,99325,37.7716,-122.2050,California,NaN,NaN,1,0,1,0,1,1,0,1,red
14,Coachella,2014-01-27,101283,33.6968,-116.2090,California,NaN,Male,0,1,1,1,0,2,0,1,blue
15,Coachella,2014-01-27,101283,33.6968,-116.2090,California,NaN,Female,0,1,1,1,0,2,0,1,blue
16,Laughlin,2014-01-31,103283,35.1311,-114.6240,Nevada,28.0,Male,1,0,1,0,1,2,0,1,red
17,Laughlin,2014-01-31,103283,35.1311,-114.6240,Nevada,NaN,NaN,1,0,1,0,1,2,0,1,red
18,Cobb County,2014-02-04,103682,33.8999,-84.5641,Georgia,NaN,Male,1,0,1,0,1,3,0,1,red
19,Cobb County,2014-02-04,103682,33.8999,-84.5641,Georgia,NaN,Female,1,0,1,0,1,3,0,1,red
20,Cobb County,2014-02-04,103682,33.8999,-84.5641,Georgia,NaN,Male,1,0,1,0,1,3,0,1,red
21,Perry,2014-02-05,104105,30.0896,-83.5742,Florida,NaN,NaN,3,0,1,0,1,1,0,3,red
22,Tallahassee,2014-02-05,196110,30.4310,-84.2603,Florida,NaN,Male,2,1,1,0,1,1,0,3,red
23,North Augusta,2014-02-09,105388,33.5585,-81.9333,South Carolina,24.0,Male,0,1,1,1,0,1,0,1,blue
24,Columbia,2014-02-09,105386,33.9939,-81.0283,South Carolina,NaN,Male,1,0,1,0,1,1,0,1,red
25,Orange County,2014-02-10,105249,38.4415,-86.3901,Indiana,30.0,Female,1,0,1,0,1,3,0,1,red
26,Orange County,2014-02-10,105249,38.4415,-86.3901,Indiana,30.0,Male,1,0,1,0,1,3,0,1,red
27,Orange County,2014-02-10,105249,38.4415,-86.3901,Indiana,NaN,Male,1,0,1,0,1,3,0,1,red
28,Indianapolis,2014-02-12,106188,39.7313,-86.2353,Indiana,NaN,NaN,0,0,2,0,2,1,2,2,red
29,Burlington,2014-02-12,106327,40.8077,-91.1129,Iowa,NaN,NaN,0,0,1,0,1,1,1,1,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,San Diego,2018-02-16,1058005,32.7918,-117.0150,California,43.0,Male,0,0,1,1,0,1,0,0,blue
1678,Mobile,2018-02-20,1053805,30.7158,-88.0783,Alabama,NaN,Male,0,1,1,0,1,1,0,1,red
1679,Montgomery,2018-02-21,1054359,32.3559,-86.3270,Alabama,NaN,NaN,2,0,1,0,1,1,0,2,red
1680,Oklahoma City,2018-02-21,1068105,35.4932,-97.5700,Oklahoma,29.0,Male,0,0,1,1,0,1,0,0,blue
1681,Kailua Kona,2018-02-21,1054831,NaN,NaN,Hawaii,NaN,Male,1,0,1,0,1,1,0,1,red
1682,Covington,2018-02-24,1056358,39.0373,-84.4957,Kentucky,NaN,Male,2,0,1,0,1,1,0,2,red
1683,Saint Louis,2018-02-26,1057993,38.7525,-90.2080,Missouri,40.0,Male,1,0,1,0,1,1,0,1,red
1684,Coeur D Alene (Coeur D'alene),2018-02-27,1059342,47.6961,-116.7860,Idaho,NaN,Male,1,0,1,0,1,1,0,1,red
1685,Saint Stephen,2018-03-02,1061298,33.4249,-79.9488,South Carolina,31.0,Male,1,0,1,0,1,1,0,1,red
1686,Lebanon,2018-03-02,1060907,40.0531,-86.4634,Indiana,21.0,Male,0,1,1,0,1,1,0,1,red
1687,Mount Dora,2018-03-02,1063321,28.8024,-81.6448,Florida,NaN,Male,0,0,1,0,1,1,1,1,red
1688,Sandpoint,2018-03-05,1062792,48.2636,-116.5720,Idaho,NaN,Male,2,0,2,0,2,1,0,2,red
1689,San Antonio,2018-03-06,1064111,29.6684,-98.6691,Texas,NaN,NaN,1,1,1,0,1,1,0,2,red
1690,Clinton,2018-03-06,1064221,38.3681,-93.7796,Missouri,NaN,Male,2,1,3,0,3,1,0,3,red
1691,Pomona,2018-03-09,1066395,34.0459,-117.7450,California,NaN,NaN,1,1,2,0,2,1,0,2,red
1692,Seaside,2018-03-13,1068912,36.6217,-121.8380,California,NaN,Male,1,0,1,1,0,1,0,1,blue
1693,Elkhorn City,2018-03-13,1069414,37.2684,-82.4246,Kentucky,55.0,Male,0,1,1,0,1,1,0,1,red
1694,Atwater,2018-03-14,1069610,37.3458,-120.6620,California,29.0,Male,0,0,1,1,0,2,0,0,blue
1695,Atwater,2018-03-14,1069610,37.3458,-120.6620,California,NaN,Female,0,0,1,1,0,2,0,0,blue
1696,Tampa,2018-03-19,1072883,27.9471,-82.4596,Florida,NaN,Male,1,0,1,0,1,1,0,1,red
1697,San Francisco,2018-03-21,1074886,37.7163,-122.4400,California,NaN,NaN,5,0,1,0,1,1,0,5,red
1698,Aurora,2018-03-22,1075816,41.7564,-88.3230,Illinois,NaN,Male,1,0,1,0,1,1,0,1,red
1699,Austin,2018-03-25,1077722,30.1978,-97.7561,Texas,NaN,Male,1,0,1,0,1,1,0,1,red
1700,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,42.0,Male,0,0,2,2,0,6,0,0,blue
1701,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,47.0,Male,0,0,2,2,0,6,0,0,blue
1702,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,63.0,Male,0,0,2,2,0,6,0,0,blue
1703,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,34.0,Male,0,0,2,2,0,6,0,0,blue
1704,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,23.0,Female,0,0,2,2,0,6,0,0,blue
1705,Los Angeles,2018-03-26,1078257,34.0551,-118.2420,California,24.0,Male,0,0,2,2,0,6,0,0,blue
1706,Hopkinsville,2018-03-29,1080584,36.8593,-87.5088,Kentucky,35.0,Male,0,1,1,0,1,1,0,1,red

In [16]:
# df krijgen police_victim en df_police_suspect
df_police_victim = df_merged_police[df_merged_police['police_victim'] != 0]
df_police_suspect = df_merged_police[df_merged_police['police_suspect'] != 0]

In [17]:
# plot: leeftijdverdeling van 1. de dataset, 2. de shooter op een politie, 3. hoe oud een politie is als ie schiet

ages_all = df_p['participant_age']
ages_shoot_at_police = df_police_victim['age_suspect']
ages_police_shoots = df_police_suspect['age_suspect']

print(ages_all.mean())
print(ages_shoot_at_police.mean())
print(ages_police_shoots.mean())

29.462031226738965
30.0
35.0

In [35]:
# make df for boxplot

plist = [['group', 'score']]


for age in ages_all.tolist():
    plist.append(['all', age])
for age in ages_shoot_at_police.tolist():
    plist.append(['Civilian_shot_Police', age])
for age in ages_police_shoots.tolist():
    plist.append(['Police_shot_Civilian', age])

plist

headers = plist.pop(0)

df_boxplot = pd.DataFrame(plist, columns=headers)

df_boxplot

dftest = df_boxplot[df_boxplot['group'] == 'Police_shot_Civilian']
dftest['score'].value_counts()

# df_boxplot = df_boxplot[df_boxplot['score'] != np.nan]

28.0    11
24.0     8
34.0     8
29.0     7
37.0     7
23.0     7
35.0     6
25.0     5
47.0     5
32.0     5
49.0     5
33.0     5
31.0     5
40.0     4
43.0     4
51.0     3
30.0     3
27.0     3
26.0     2
38.0     2
46.0     2
14.0     2
19.0     2
45.0     2
18.0     2
44.0     2
52.0     2
36.0     2
63.0     2
41.0     2
21.0     1
58.0     1
56.0     1
53.0     1
50.0     1
39.0     1
61.0     1
15.0     1
54.0     1
48.0     1
59.0     1
22.0     1
57.0     1
42.0     1
Name: score, dtype: int64

In [36]:

cat = ['all', 'Civilian_shot_Police', 'Police_shot_Civilian']
df = df_boxplot


# find the quartiles and IQR for each category
groups = df.groupby('group')
q1 = groups.quantile(q=0.25)
q2 = groups.quantile(q=0.5)
q3 = groups.quantile(q=0.75)
iqr = q3 - q1
upper = q3 + 1.5*iqr
lower = q1 - 1.5*iqr

# find the outliers for each category
def outliers(group):
    cat = group.name
    return group[(group.score > upper.loc[cat]['score']) | (group.score < lower.loc[cat]['score'])]['score']
out = groups.apply(outliers).dropna()

# prepare outlier data for plotting, we need coordinates for every outlier.
if not out.empty:
    outx = []
    outy = []
    for cat in cats:
        # only add outliers if they exist
        if not out.loc[cat].empty:
            for value in out[cat]:
                outx.append(cat)
                outy.append(value)

p = figure(tools="save", background_fill_color="#EFE8E2", title="", x_range=cats, y_range=(0,101), plot_width=350, plot_height=550)

# if no outliers, shrink lengths of stems to be no longer than the minimums or maximums
qmin = groups.quantile(q=0.00)
qmax = groups.quantile(q=1.00)
upper.score = [min([x,y]) for (x,y) in zip(list(qmax.loc[:,'score']),upper.score)]
lower.score = [max([x,y]) for (x,y) in zip(list(qmin.loc[:,'score']),lower.score)]

# stems
p.segment(cats, upper.score, cats, q3.score, line_color="black")
p.segment(cats, lower.score, cats, q1.score, line_color="black")

# boxes
p.vbar(cats, 0.7, q2.score, q3.score, fill_color="#E08E79", line_color="black")
p.vbar(cats, 0.7, q1.score, q2.score, fill_color="#3B8686", line_color="black")

# whiskers (almost-0 height rects simpler than segments)
p.rect(cats, lower.score, 0.2, 0.01, line_color="black")
p.rect(cats, upper.score, 0.2, 0.01, line_color="black")

# outliers
if not out.empty:
    p.circle(outx, outy, size=6, color="#F38630", fill_alpha=0.6)

p.xgrid.grid_line_color = None
p.ygrid.grid_line_color = "white"
p.grid.grid_line_width = 2
p.xaxis.major_label_text_font_size="12pt"

output_file("boxplot_.html", title="boxplot.py example")

show(p)

In [47]:
######
# barchart percentage unknown ages
#####
df_merged_police = df_merged_police.replace('NaN', np.NaN)
df_p = df_p.replace('NaN', np.NaN)

# len(df_merged_police.index)

# percentage NaN:
nanpercent_suspect_if_police_victim = ((df_police_victim['age_suspect'].isnull().sum())/len(df_police_victim))*100
nanpercent_suspect_if_police_suspect = ((df_police_suspect['age_suspect'].isnull().sum())/len(df_police_suspect))*100
nanpercent_police = ((df_merged_police['age_suspect'].isnull().sum())/len(df_merged_police))*100
nanpercent_participants = ((df_p['participant_age'].isnull().sum())/len(df_p))*100

print(nanpercent_suspect_if_police_victim)
print(nanpercent_suspect_if_police_suspect)
print(nanpercent_police)
print(nanpercent_participants)

71.11426543647977
58.13253012048193
68.30697129466901
46.865411904579275

In [48]:
x = ['all', 'shot at police','police is shooter','all police incidents']
y = [nanpercent_participants, nanpercent_suspect_if_police_victim, nanpercent_suspect_if_police_suspect, nanpercent_police]

f = figure(x_range=x, plot_width=400, plot_height=400)
f.background_fill_color = "black"
f.background_fill_alpha = 0.3

output_file("plot_barchart_police.html")

f.vbar(x=x, top=y, width=0.5, fill_color='white', fill_alpha = 0.99)

# Now we just pick a semi-random selection of tools
f.toolbar.tools = [ResetTool()]

# plot_hover = HoverTool()
# plot_hover.tooltips = [("name", "$name"),]
# f.add_tools(plot_hover)

# And let us just move it to the top instead of the side.
f.toolbar_location='right'

f.title.text="Number of incidents per year"
f.title.text_font_size="20px"
f.title.align="center"

f.xaxis.axis_label="Shooter"
f.yaxis.axis_label="Percentage"

show(f)
# save(f)

# politie incidenten per hoofd vd bevolking

In [6]:
###
# read population csv
###
df_pop = pd.read_csv("popcount.csv", sep=';')
df_pop.drop(['Census', 'Estimation', '2010', '2011', '2012','2013', '2014', '2014', '2017', '2016'], axis=1)

                   State        2015
0                Alabama   4.850.858
1                 Alaska     737.979
2                Arizona   6.802.262
3               Arkansas   2.975.626
4             California  39.032.444
5               Colorado   5.440.445
6            Connecticut   3.593.862
7               Delaware     944.107
8   District of Columbia     672.736
9                Florida  20.268.567
10               Georgia  10.199.533
11                Hawaii   1.426.320
12                 Idaho   1.649.324
13              Illinois  12.862.051
14               Indiana   6.610.596
15                  Iowa   3.118.473
16                Kansas   2.905.789
17              Kentucky   4.422.057
18             Louisiana   4.671.211
19                 Maine   1.327.787
20              Maryland   6.000.561
21         Massachusetts   6.794.002
22              Michigan   9.918.170
23             Minnesota   5.483.238
24           Mississippi   2.985.297
25              Missouri   6.072.640
26               Montana   1.028.317
27              Nebraska   1.893.564
28                Nevada   2.883.057
29         New Hampshire   1.330.134
30            New Jersey   8.960.001
31            New Mexico   2.082.264
32              New York  19.819.347
33        North Carolina  10.041.769
34          North Dakota     754.859
35                  Ohio  11.606.027
36              Oklahoma   3.904.353
37                Oregon   4.016.537
38          Pennsylvania  12.791.124
39          Rhode Island   1.055.916
40        South Carolina   4.892.423
41          South Dakota     854.036
42             Tennessee   6.590.726
43                 Texas  27.454.880
44                  Utah   2.984.917
45               Vermont     624.455
46              Virginia   8.366.767
47            Washington   7.152.818
48         West Virginia   1.839.767
49             Wisconsin   5.759.744
50               Wyoming     586.102
51           Puerto Rico   3.473.177

In [7]:
# number of police VICTIM incidents per year
vict_states = {}
for index, row in df_merged_police.iterrows():
    if row['police_victim'] != 0:
        
        key = row['state']
        if key in vict_states:
            vict_states[key] +=1
        else:
            vict_states[key] = 1

vict_states['Rhode Island'] = 0
print(vict_states)


# number of police VICTIM incidents per year
suspect_states = {}
for index, row in df_merged_police.iterrows():
    if row['police_suspect'] != 0:
        key = row['state']
        if key in suspect_states:
            suspect_states[key] +=1
        else:
            suspect_states[key] = 1
        
suspect_states['Alaska'] = 0
suspect_states['District of Columbia'] = 0
suspect_states['Maine'] = 0
suspect_states['New Hampshire'] = 0
suspect_states['North Dakota'] = 0
suspect_states['Rhode Island'] = 0
suspect_states['Utah'] = 0
suspect_states['Vermont'] = 0
suspect_states['Wyoming'] = 0
print(suspect_states)

df_vict_states = pd.DataFrame.from_dict(vict_states, orient='index')
df_vict_states['state'] = df_vict_states.index
df_vict_states = df_vict_states.rename(columns={0: 'p_victim'})
df_vict_states = df_vict_states.sort_values(by=['state'])
df_vict_states = df_vict_states.reset_index(drop=True)

df_suspect_states = pd.DataFrame.from_dict(suspect_states, orient='index')
df_suspect_states['state'] = df_suspect_states.index
df_suspect_states = df_suspect_states.rename(columns={0: 'p_suspect'})
df_suspect_states = df_suspect_states.sort_values(by=['state'])
df_suspect_states = df_suspect_states.reset_index(drop=True)
# display(df_suspect_states)

{'Louisiana': 48, 'Delaware': 3, 'New Jersey': 20, 'District of Columbia': 6, 'California': 128, 'Ohio': 40, 'Florida': 65, 'South Carolina': 28, 'Texas': 154, 'Nevada': 31, 'Georgia': 80, 'Indiana': 30, 'Iowa': 14, 'North Carolina': 30, 'Montana': 7, 'Minnesota': 26, 'Tennessee': 37, 'Illinois': 66, 'Virginia': 30, 'New York': 52, 'Oregon': 11, 'Vermont': 1, 'Utah': 13, 'Colorado': 38, 'Arizona': 36, 'Oklahoma': 44, 'Michigan': 48, 'Wisconsin': 13, 'Massachusetts': 9, 'Washington': 18, 'Alabama': 24, 'Connecticut': 6, 'Nebraska': 9, 'Kansas': 12, 'New Mexico': 30, 'Pennsylvania': 35, 'Arkansas': 13, 'North Dakota': 4, 'Missouri': 63, 'Wyoming': 3, 'Mississippi': 20, 'South Dakota': 5, 'New Hampshire': 2, 'Maine': 2, 'West Virginia': 5, 'Maryland': 17, 'Kentucky': 21, 'Hawaii': 3, 'Idaho': 5, 'Alaska': 4, 'Rhode Island': 0}
{'Colorado': 4, 'California': 29, 'South Carolina': 3, 'Texas': 45, 'Pennsylvania': 12, 'Alabama': 5, 'Illinois': 11, 'Georgia': 10, 'Nevada': 9, 'Wisconsin': 7, 'Michigan': 17, 'Virginia': 8, 'Washington': 3, 'Delaware': 1, 'Massachusetts': 7, 'Missouri': 7, 'Hawaii': 1, 'Maryland': 6, 'Florida': 21, 'New Mexico': 4, 'Tennessee': 7, 'Ohio': 11, 'Mississippi': 1, 'New York': 18, 'Iowa': 7, 'Louisiana': 17, 'Arizona': 5, 'New Jersey': 4, 'Indiana': 24, 'Oklahoma': 7, 'Minnesota': 5, 'Connecticut': 3, 'Idaho': 1, 'Kentucky': 2, 'Montana': 1, 'North Carolina': 3, 'Kansas': 1, 'Arkansas': 1, 'Oregon': 1, 'Nebraska': 1, 'West Virginia': 1, 'South Dakota': 1, 'Alaska': 0, 'District of Columbia': 0, 'Maine': 0, 'New Hampshire': 0, 'North Dakota': 0, 'Rhode Island': 0, 'Utah': 0, 'Vermont': 0, 'Wyoming': 0}

In [8]:
# df met aantal inwoners per staat
###
# read population csv
###
df_pop = pd.read_csv("popcount.csv", sep=';')
df_pop = df_pop.drop(51)

df_police_capita = df_pop 
df_police_capita['p_victim'] = df_vict_states['p_victim']
df_police_capita['p_suspect'] = df_suspect_states['p_suspect']

# df_police_capita['capita_p_victim']

capita_p_victim = []
capita_p_suspect = []
for index, row in df_police_capita.iterrows():
    number = row['2015'].replace(".", "")
    capita_p_victim.append((row['p_victim']/float(number))*100000)
    capita_p_suspect.append((row['p_suspect']/float(number))*100000)

df_police_capita['capita_p_victim'] = capita_p_victim
df_police_capita['capita_p_suspect'] = capita_p_suspect

df_police_capita
# moet rhode island weg?
# df_police_capita = df_police_capita.drop(39)

,State,Census,Estimation,2010,2011,2012,2013,2014,2015,2016,2017,p_victim,p_suspect,capita_p_victim,capita_p_suspect
0,Alabama,4.779.736,4.780.135,4.785.579,4.798.649,4.813.946,4.827.660,4.840.037,4.850.858,4.860.545,4.874.747,24,5,0.494758,0.103075
1,Alaska,710.231,710.249,714.015,722.259,730.825,736.760,736.759,737.979,741.522,739.795,4,0,0.542021,0.000000
2,Arizona,6.392.017,6.392.309,6.407.002,6.465.488,6.544.211,6.616.124,6.706.435,6.802.262,6.908.642,7.016.270,36,5,0.529236,0.073505
3,Arkansas,2.915.918,2.916.031,2.921.737,2.938.640,2.949.208,2.956.780,2.964.800,2.975.626,2.988.231,3.004.279,13,1,0.436883,0.033606
4,California,37.253.956,37.254.518,37.327.690,37.672.654,38.019.006,38.347.383,38.701.278,39.032.444,39.296.476,39.536.653,128,29,0.327932,0.074297
5,Colorado,5.029.196,5.029.325,5.048.029,5.116.411,5.186.330,5.262.556,5.342.311,5.440.445,5.530.105,5.607.154,38,4,0.698472,0.073523
6,Connecticut,3.574.097,3.574.114,3.580.171,3.591.927,3.597.705,3.602.470,3.600.188,3.593.862,3.587.685,3.588.184,6,3,0.166951,0.083476
7,Delaware,897.934,897.936,899.712,907.884,916.868,925.114,934.805,944.107,952.698,961.939,3,1,0.317761,0.105920
8,District of Columbia,601.723,601.766,605.040,620.336,635.630,650.114,660.797,672.736,684.336,693.972,6,0,0.891880,0.000000
9,Florida,18.801.310,18.804.594,18.846.461,19.097.369,19.341.327,19.584.927,19.897.747,20.268.567,20.656.589,20.984.400,65,21,0.320694,0.103609
10,Georgia,9.687.653,9.688.690,9.712.696,9.810.595,9.911.171,9.981.773,10.083.850,10.199.533,10.313.620,10.429.379,80,10,0.784350,0.098044
11,Hawaii,1.360.301,1.360.301,1.363.817,1.378.323,1.392.772,1.408.038,1.417.710,1.426.320,1.428.683,1.427.538,3,1,0.210331,0.070110
12,Idaho,1.567.582,1.567.650,1.570.912,1.583.180,1.594.673,1.610.187,1.630.391,1.649.324,1.680.026,1.716.943,5,1,0.303155,0.060631
13,Illinois,12.830.632,12.831.565,12.841.196,12.862.298,12.878.494,12.890.403,12.882.438,12.862.051,12.835.726,12.802.023,66,11,0.513137,0.085523
14,Indiana,6.483.802,6.484.125,6.490.029,6.515.358,6.535.665,6.567.484,6.593.182,6.610.596,6.634.007,6.666.818,30,24,0.453817,0.363053
15,Iowa,3.046.355,3.046.869,3.050.223,3.063.690,3.074.386,3.089.876,3.105.563,3.118.473,3.130.869,3.145.711,14,7,0.448938,0.224469
16,Kansas,2.853.118,2.853.130,2.858.403,2.868.756,2.885.316,2.892.900,2.899.553,2.905.789,2.907.731,2.913.123,12,1,0.412969,0.034414
17,Kentucky,4.339.367,4.339.340,4.347.948,4.368.505,4.383.673,4.399.121,4.410.415,4.422.057,4.436.113,4.454.189,21,2,0.474892,0.045228
18,Louisiana,4.533.372,4.533.478,4.544.871,4.574.388,4.602.681,4.626.795,4.648.797,4.671.211,4.686.157,4.684.333,48,17,1.027571,0.363931
19,Maine,1.328.361,1.328.362,1.327.568,1.327.968,1.328.101,1.327.975,1.328.903,1.327.787,1.330.232,1.335.907,2,0,0.150627,0.000000
20,Maryland,5.773.552,5.773.807,5.788.099,5.843.115,5.891.680,5.932.654,5.970.245,6.000.561,6.024.752,6.052.177,17,6,0.283307,0.099991
21,Massachusetts,6.547.629,6.547.808,6.564.943,6.612.178,6.659.627,6.711.138,6.757.925,6.794.002,6.823.721,6.859.819,9,7,0.132470,0.103032
22,Michigan,9.883.640,9.884.129,9.876.731,9.876.199,9.886.610,9.899.219,9.914.675,9.918.170,9.933.445,9.962.311,48,17,0.483960,0.171403
23,Minnesota,5.303.925,5.303.924,5.310.711,5.345.967,5.377.695,5.416.074,5.452.649,5.483.238,5.525.050,5.576.606,26,5,0.474172,0.091187
24,Mississippi,2.967.297,2.968.103,2.970.437,2.977.452,2.982.963,2.987.721,2.988.578,2.985.297,2.985.415,2.984.100,20,1,0.669950,0.033498
25,Missouri,5.988.927,5.988.925,5.995.681,6.010.280,6.023.267,6.041.142,6.058.014,6.072.640,6.091.176,6.113.532,63,7,1.037440,0.115271
26,Montana,989.415,989.414,990.507,996.866,1.003.522,1.011.921,1.019.931,1.028.317,1.038.656,1.050.493,7,1,0.680724,0.097246
27,Nebraska,1.826.341,1.826.327,1.829.956,1.841.641,1.854.862,1.867.414,1.880.920,1.893.564,1.907.603,1.920.076,9,1,0.475294,0.052810
28,Nevada,2.700.551,2.700.691,2.702.797,2.718.170,2.752.410,2.786.547,2.831.730,2.883.057,2.939.254,2.998.039,31,9,1.075248,0.312169
29,New Hampshire,1.316.470,1.316.460,1.316.700,1.318.345,1.320.923,1.322.622,1.328.684,1.330.134,1.335.015,1.342.795,2,0,0.150361,0.000000
30,New Jersey,8.791.894,8.791.953,8.803.708,8.844.694,8.882.095,8.913.735,8.943.010,8.960.001,8.978.416,9.005.644,20,4,0.223214,0.044643
31,New Mexico,2.059.179,2.059.207,2.064.607,2.077.744,2.083.590,2.085.161,2.083.207,2.082.264,2.085.432,2.088.070,30,4,1.440740,0.192099
32,New York,19.378.102,19.378.110,19.405.185,19.526.372,19.625.409,19.712.514,19.773.580,19.819.347,19.836.286,19.849.399,52,18,0.262370,0.090820
33,North Carolina,9.535.483,9.535.721,9.574.247,9.662.940,9.755.299,9.849.812,9.941.160,10.041.769,10.156.689,10.273.419,30,3,0.298752,0.029875
34,North Dakota,672.591,672.585,674.518,684.830,701.380,722.908,738.658,754.859,755.548,755.393,4,0,0.529900,0.000000
35,Ohio,11.536.504,11.536.730,11.539.282,11.543.332,11.546.969,11.567.845,11.593.741,11.606.027,11.622.554,11.658.609,40,11,0.344649,0.094778
36,Oklahoma,3.751.351,3.751.598,3.759.529,3.785.232,3.815.298,3.849.840,3.875.008,3.904.353,3.921.207,3.930.864,44,7,1.126947,0.179287
37,Oregon,3.831.074,3.831.072,3.837.073,3.865.845,3.893.920,3.919.664,3.960.673,4.016.537,4.085.989,4.142.776,11,1,0.273868,0.024897
38,Pennsylvania,12.702.379,12.702.857,12.711.063,12.742.811,12.768.034,12.778.450,12.790.341,12.791.124,12.787.085,12.805.537,35,12,0.273627,0.093815
39,Rhode Island,1.052.567,1.052.945,1.053.169,1.052.154,1.052.761,1.052.784,1.054.782,1.055.916,1.057.566,1.059.639,0,0,0.000000,0.000000
40,South Carolina,4.625.364,4.625.381,4.635.834,4.672.744,4.719.009,4.765.862,4.824.758,4.892.423,4.959.822,5.024.369,28,3,0.572314,0.061319
41,South Dakota,814.180,814.197,816.227,823.338,832.576,842.513,849.455,854.036,861.542,869.666,5,1,0.585455,0.117091
42,Tennessee,6.346.105,6.346.295,6.355.882,6.396.281,6.450.632,6.490.795,6.540.007,6.590.726,6.649.404,6.715.984,37,7,0.561395,0.106210
43,Texas,25.145.561,25.146.100,25.241.648,25.644.424,26.078.327,26.479.279,26.954.436,27.454.880,27.904.862,28.304.596,154,45,0.560920,0.163905
44,Utah,2.763.885,2.763.889,2.775.260,2.815.430,2.854.222,2.899.961,2.938.671,2.984.917,3.044.321,3.101.833,13,0,0.435523,0.000000
45,Vermont,625.741,625.741,625.842,626.210,625.606,626.044,625.665,624.455,623.354,623.657,1,0,0.160140,0.000000
46,Virginia,8.001.024,8.001.043,8.025.206,8.107.548,8.188.656,8.261.689,8.316.902,8.366.767,8.414.380,8.470.020,30,8,0.358561,0.095616
47,Washington,6.724.540,6.724.545,6.741.386,6.819.155,6.890.899,6.963.410,7.046.931,7.152.818,7.280.934,7.405.743,18,3,0.251649,0.041942
48,West Virginia,1.852.994,1.853.006,1.854.315,1.854.891,1.855.360,1.852.333,1.847.624,1.839.767,1.828.637,1.815.857,5,1,0.271774,0.054355
49,Wisconsin,5.686.986,5.687.288,5.690.403,5.705.812,5.721.075,5.736.673,5.751.272,5.759.744,5.772.917,5.795.483,13,7,0.225704,0.121533
50,Wyoming,563.626,563.767,564.376,567.602,576.608,582.341,583.334,586.102,584.910,579.315,3,0,0.511856,0.000000

In [9]:

df_stateyears_dict = df_police_capita.drop(['2010','2012','2013', '2014', '2015', '2016', '2017','2011', 'Census', 'Estimation','p_suspect','p_victim'], axis=1)

df_stateyears_dict = df_stateyears_dict.set_index("State", drop=True)
df_stateyears_dict = df_stateyears_dict.to_dict(orient="index")

df_stateyears_dict

{'Alabama': {'capita_p_suspect': 0.10307454887362194,
  'capita_p_victim': 0.49475783459338535},
 'Alaska': {'capita_p_suspect': 0.0, 'capita_p_victim': 0.5420208434115333},
 'Arizona': {'capita_p_suspect': 0.07350496055576806,
  'capita_p_victim': 0.5292357160015301},
 'Arkansas': {'capita_p_suspect': 0.03360637391930303,
  'capita_p_victim': 0.4368828609509394},
 'California': {'capita_p_suspect': 0.07429716673647184,
  'capita_p_victim': 0.3279323221471861},
 'Colorado': {'capita_p_suspect': 0.07352339744267243,
  'capita_p_victim': 0.6984722757053881},
 'Connecticut': {'capita_p_suspect': 0.08347565933249523,
  'capita_p_victim': 0.16695131866499047},
 'Delaware': {'capita_p_suspect': 0.10592019760472066,
  'capita_p_victim': 0.31776059281416197},
 'District of Columbia': {'capita_p_suspect': 0.0,
  'capita_p_victim': 0.8918803215525852},
 'Florida': {'capita_p_suspect': 0.10360870603235049,
  'capita_p_victim': 0.3206936139096563},
 'Georgia': {'capita_p_suspect': 0.09804370455000243,
  'capita_p_victim': 0.7843496364000194},
 'Hawaii': {'capita_p_suspect': 0.07011049413876269,
  'capita_p_victim': 0.21033148241628807},
 'Idaho': {'capita_p_suspect': 0.060630900902430326,
  'capita_p_victim': 0.30315450451215165},
 'Illinois': {'capita_p_suspect': 0.08552290766068335,
  'capita_p_victim': 0.5131374459641},
 'Indiana': {'capita_p_suspect': 0.3630534977481607,
  'capita_p_victim': 0.4538168721852009},
 'Iowa': {'capita_p_suspect': 0.2244688345866711,
  'capita_p_victim': 0.4489376691733422},
 'Kansas': {'capita_p_suspect': 0.03441406103471381,
  'capita_p_victim': 0.4129687324165657},
 'Kentucky': {'capita_p_suspect': 0.04522782044645738,
  'capita_p_victim': 0.47489211468780257},
 'Louisiana': {'capita_p_suspect': 0.3639313231622378,
  'capita_p_victim': 1.0275707948110244},
 'Maine': {'capita_p_suspect': 0.0, 'capita_p_victim': 0.1506265688698564},
 'Maryland': {'capita_p_suspect': 0.09999065087414327,
  'capita_p_victim': 0.28330684414340596},
 'Massachusetts': {'capita_p_suspect': 0.10303205680539983,
  'capita_p_victim': 0.13246978732122833},
 'Michigan': {'capita_p_suspect': 0.1714025873724689,
  'capita_p_victim': 0.4839602466987357},
 'Minnesota': {'capita_p_suspect': 0.09118699571311696,
  'capita_p_victim': 0.4741723777082082},
 'Mississippi': {'capita_p_suspect': 0.033497504603394575,
  'capita_p_victim': 0.6699500920678914},
 'Missouri': {'capita_p_suspect': 0.11527111766875692,
  'capita_p_victim': 1.0374400590188122},
 'Montana': {'capita_p_suspect': 0.09724627716939427,
  'capita_p_victim': 0.6807239401857599},
 'Nebraska': {'capita_p_suspect': 0.05281046745713375,
  'capita_p_victim': 0.47529420711420367},
 'Nevada': {'capita_p_suspect': 0.31216864598930927,
  'capita_p_victim': 1.0752475584076209},
 'New Hampshire': {'capita_p_suspect': 0.0,
  'capita_p_victim': 0.15036079071732622},
 'New Jersey': {'capita_p_suspect': 0.044642852160395964,
  'capita_p_victim': 0.22321426080197984},
 'New Mexico': {'capita_p_suspect': 0.1920986003695977,
  'capita_p_victim': 1.4407395027719827},
 'New York': {'capita_p_suspect': 0.09082034842015733,
  'capita_p_victim': 0.2623698954360101},
 'North Carolina': {'capita_p_suspect': 0.029875214217733946,
  'capita_p_victim': 0.2987521421773395},
 'North Dakota': {'capita_p_suspect': 0.0,
  'capita_p_victim': 0.5299002860136793},
 'Ohio': {'capita_p_suspect': 0.09477834232162306,
  'capita_p_victim': 0.34464851753317477},
 'Oklahoma': {'capita_p_suspect': 0.1792870675371822,
  'capita_p_victim': 1.126947281662288},
 'Oregon': {'capita_p_suspect': 0.024897069291282513,
  'capita_p_victim': 0.27386776220410763},
 'Pennsylvania': {'capita_p_suspect': 0.09381505487711635,
  'capita_p_victim': 0.27362724339158934},
 'Rhode Island': {'capita_p_suspect': 0.0, 'capita_p_victim': 0.0},
 'South Carolina': {'capita_p_suspect': 0.061319309470992185,
  'capita_p_victim': 0.5723135550625937},
 'South Dakota': {'capita_p_suspect': 0.11709108281149741,
  'capita_p_victim': 0.585455414057487},
 'Tennessee': {'capita_p_suspect': 0.1062098469880253,
  'capita_p_victim': 0.5613949055081336},
 'Texas': {'capita_p_suspect': 0.16390528751172834,
  'capita_p_victim': 0.5609203172623592},
 'Utah': {'capita_p_suspect': 0.0, 'capita_p_victim': 0.4355229977918984},
 'Vermont': {'capita_p_suspect': 0.0, 'capita_p_victim': 0.16013964176762135},
 'Virginia': {'capita_p_suspect': 0.09561638324576266,
  'capita_p_victim': 0.35856143717161},
 'Washington': {'capita_p_suspect': 0.04194151172307194,
  'capita_p_victim': 0.25164907033843165},
 'West Virginia': {'capita_p_suspect': 0.05435470904739568,
  'capita_p_victim': 0.2717735452369784},
 'Wisconsin': {'capita_p_suspect': 0.12153317925241122,
  'capita_p_victim': 0.22570447575447797},
 'Wyoming': {'capita_p_suspect': 0.0, 'capita_p_victim': 0.5118562980505099}}

In [16]:
#
# police incidents per hoofd vd bevolking
#

from bokeh.io import show
from bokeh.models import (
    ColumnDataSource,
    HoverTool,
    LogColorMapper
)
from bokeh.palettes import Viridis6 as palette
from bokeh.plotting import figure

from bokeh.sampledata.us_states import data as states

output_file("gmap_police_suspect_filled.html")

palette.reverse()
states = {
    code: state for code, state in states.items()
}

state_xs = [state["lons"] for state in states.values()]
state_ys = [state["lats"] for state in states.values()]

state_names = [state['name'] for state in states.values()]

# state_rates wordt gemaakt, is lijst met rates behorend bij state, in zelfde volgorde als state_names
state_rates = []
for name in state_names:
    state_rates.append(df_stateyears_dict[name]['capita_p_suspect'])
    
# color mapper
color_mapper = LogColorMapper(palette=palette)

source = ColumnDataSource(data=dict(
    x=state_xs,
    y=state_ys,
    name=state_names,
    rate=state_rates,
))

TOOLS = "pan,wheel_zoom,reset,hover,save"

p = figure(
    tools=TOOLS,
    plot_height=400,
    x_range = (-130, -60), 
    y_range = (23, 52),
    x_axis_location=None, y_axis_location=None
)

# p.legend.location = "top_left"
# p.legend.click_policy="hide"

p.title.text="Number of police incidents per capita"
p.title.text_font_size="25px"
p.title.align="center"

p.grid.grid_line_color = None

p.patches('x', 'y', source=source,
          fill_color={'field': 'rate', 'transform': color_mapper},
          fill_alpha=0.7, line_color="white", line_width=0.5)

hover = p.select_one(HoverTool)
hover.point_policy = "follow_mouse"
hover.tooltips = [
    ("Name", "@name"),
    ("Incidencts per 100.000 inhabitants", "@rate"),
]

show(p)
# save(p)

In [16]:
#
# police incidents per hoofd vd bevolking
# met radiobuttons

from bokeh.io import show
from bokeh.models import (
    ColumnDataSource,
    HoverTool,
    LogColorMapper
)
from bokeh.palettes import Viridis6 as palette
from bokeh.plotting import figure
from bokeh.io import show
from bokeh.models import ColumnDataSource, HoverTool, LogColorMapper, CategoricalColorMapper
from bokeh.plotting import figure
from bokeh.models.widgets import RadioButtonGroup
from bokeh.layouts import column, widgetbox
from bokeh.models.callbacks import CustomJS

from bokeh.sampledata.us_states import data as states

output_file("gmap_police_suspect_filled_radiobuttons.html")

palette.reverse()
states = {
    code: state for code, state in states.items()
}

state_xs = [state["lons"] for state in states.values()]
state_ys = [state["lats"] for state in states.values()]

state_names = [state['name'] for state in states.values()]

# state_rates wordt gemaakt, is lijst met rates behorend bij state, in zelfde volgorde als state_names
# state_rates = []
# for name in state_names:
#     state_rates.append(df_stateyears_dict[name]['capita_p_suspect'])

def get_rates(soort):
    state_rates = []
    for name in state_names:
        state_rates.append(df_stateyears_dict[name][soort])
    return(state_rates)

# rate_2014 = rate_p_suspect
rate_p_suspect = get_rates('capita_p_suspect')
rate_p_victim = get_rates('capita_p_victim')
    
# color mapper
color_mapper = LogColorMapper(palette=palette)

# source = ColumnDataSource(data=dict(
#     x=state_xs,
#     y=state_ys,
#     name=state_names,
#     rate=state_rates,
# ))


source = ColumnDataSource(data=dict(
    x=state_xs,
    y=state_ys,
    name=state_names,
    rate=rate_p_suspect,
    rate_p_suspect=rate_p_suspect,
    rate_p_victim=rate_p_victim
))

TOOLS = "pan,wheel_zoom,reset,hover,save"

p = figure(
    tools=TOOLS,
    plot_height=400,
    x_range = (-130, -60), 
    y_range = (23, 52),
    x_axis_location=None, y_axis_location=None
)

p.title.text="Number of police incidents per capita"
p.title.text_font_size="25px"
p.title.align="center"

p.grid.grid_line_color = None

p.patches('x', 'y', source=source,
          fill_color={'field': 'rate', 'transform': color_mapper},
          fill_alpha=0.7, line_color="white", line_width=0.5)

hover = p.select_one(HoverTool)
hover.point_policy = "follow_mouse"
hover.tooltips = [
    ("Name", "@name"),
    ("Incidencts per 100.000 inhabitants", "@rate"),
]


# add callback to control 
callback = CustomJS(args=dict(p=p, source=source), code="""

            var radio_value = cb_obj.active;
            var data = source.data;            
            x = data['x']
            y = data['y']
            name = data['name']
            rate = data['rate']
            rate_p_suspect = data['rate_p_suspect']
            rate_p_victim = data['rate_p_victim']
            
            if (radio_value == 0) {
                for (i = 0; i < x.length; i++) {
                    rate[i] = rate_p_suspect[i]
                }
            }
            
            else if (radio_value == 1) {
                for (i = 0; i < x.length; i++) {
                    rate[i] = rate_p_victim[i]
                }
            }
            
        source.change.emit();
        """)

# option
option = RadioButtonGroup(labels=["Police shoots civilian", "Police is shot by civilian"],
                          active=0, callback=callback)
show(column(widgetbox(option),p))